# 0002_mansion / 0006_same_unit_id プレビュー

`data/processed/0002_mansion/0006_same_unit_id` の train/test Parquet をざっと検品するノートです。列構成とサンプル値を人間がすぐ確認できるようにしてあります。

In [1]:
from pathlib import Path

import pandas as pd
from IPython.display import display

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 400)

NOTEBOOK_RELATIVE_PATH = Path("notebooks/data/processed/0002_mansion/0006_same_unit_id/preview.ipynb")
try:
    NOTEBOOK_PATH = Path(__file__).resolve()
except NameError:  # running interactively
    NOTEBOOK_PATH = (Path.cwd() / NOTEBOOK_RELATIVE_PATH).resolve()


def resolve_project_root(notebook_path: Path) -> Path:
    for candidate in notebook_path.parents:
        if (candidate / "data").exists() and (candidate / "src").exists():
            return candidate
    return notebook_path.parents[-1]


PROJECT_ROOT = resolve_project_root(NOTEBOOK_PATH)
DATASETS = [
    (
        "train",
        PROJECT_ROOT / "data" / "processed" / "0002_mansion" / "0006_same_unit_id" / "train.parquet",
    ),
    (
        "test",
        PROJECT_ROOT / "data" / "processed" / "0002_mansion" / "0006_same_unit_id" / "test.parquet",
    ),
]
HEAD_ROWS = 20
COLUMN_OVERVIEW_SAMPLE_SIZE = 5
COLUMN_OVERVIEW_CHUNK_SIZE = 200
COLUMN_OVERVIEW_RANDOM_SEED = 314159


def build_column_overview(
    df: pd.DataFrame,
    *,
    sample_size: int = COLUMN_OVERVIEW_SAMPLE_SIZE,
    random_state: int | None = COLUMN_OVERVIEW_RANDOM_SEED,
) -> pd.DataFrame:
    row_count = len(df)
    overview_records: list[dict[str, object]] = []
    sample_columns = [f"random_sample_{i + 1}" for i in range(sample_size)]
    for idx, column in enumerate(df.columns):
        series = df[column]
        not_null_count = int(series.notna().sum())
        not_null_rate = (not_null_count / row_count * 100) if row_count else 0.0
        min_value = series.min(skipna=True)
        max_value = series.max(skipna=True)
        non_null = series.dropna()
        sample_n = min(sample_size, len(non_null))
        samples_list: list[object] = []
        if sample_n > 0:
            seed = None if random_state is None else random_state + idx
            samples_list = non_null.sample(n=sample_n, random_state=seed, replace=False).tolist()
        record: dict[str, object] = {
            "column_name": column,
            "row_count": row_count,
            "not_null_count": not_null_count,
            "not_null_rate_pct": round(not_null_rate, 2),
            "min": min_value,
            "max": max_value,
        }
        for sample_idx, col_name in enumerate(sample_columns):
            record[col_name] = samples_list[sample_idx] if sample_idx < len(samples_list) else pd.NA
        overview_records.append(record)
    return pd.DataFrame(overview_records)


def display_column_overview(
    df: pd.DataFrame | None,
    label: str,
    *,
    sample_size: int = COLUMN_OVERVIEW_SAMPLE_SIZE,
    chunk_size: int = COLUMN_OVERVIEW_CHUNK_SIZE,
    random_state: int | None = COLUMN_OVERVIEW_RANDOM_SEED,
) -> None:
    print(f"\n--- {label}: カラムサマリー ---")
    if df is None:
        print("⚠️ DataFrame が None のためサマリーを表示できません。")
        return
    if df.shape[1] == 0:
        print("(列が存在しません)")
        return
    overview = build_column_overview(
        df=df,
        sample_size=sample_size,
        random_state=random_state,
    )
    if overview.empty:
        print("(列が存在しません)")
        return
    total_cols = overview.shape[0]
    print(f"{total_cols} columns")
    for start in range(0, total_cols, chunk_size):
        end = min(start + chunk_size, total_cols)
        print(f"columns {start + 1}-{end} / {total_cols}")
        display(overview.iloc[start:end])


def inspect_dataset(label: str, path: Path, head_rows: int = HEAD_ROWS) -> None:
    if not path.exists():
        print(f"⚠️ Missing file: {path}")
        return
    df = pd.read_parquet(path)
    print(f"\n=== {label} ===")
    print(f"path: {path.relative_to(PROJECT_ROOT)}")
    print(f"shape: {df.shape[0]} rows x {df.shape[1]} cols")
    dtype_info = df.dtypes.astype(str)
    print("dtypes (first 20 columns):")
    print(dtype_info.head(20))
    if len(dtype_info) > 20:
        print("... (truncated)")
    sample = df.head(head_rows)
    display(sample.T)
    display_column_overview(df, label=f"{label} dataset")

In [2]:
for label, path in DATASETS:
    inspect_dataset(label, path)

=== train ===
path: data/processed/0002_mansion/0006_same_unit_id/train.parquet
shape: 54372 rows x 75 cols
dtypes (first 20 columns):
data_id                         int64
money_room                      int64
building_structure            float64
floor_count                   float64
year_built                    float64
building_land_chimoku         float64
land_youto                    float64
land_toshi                    float64
land_chisei                   float64
management_form               float64
room_floor                    float64
balcony_area                  float64
dwelling_unit_window_angle    float64
room_count                    float64
unit_area                     float64
unit_house_area_adjusted      Float64
floor_plan_code               float64
flg_investment                float64
post1                         float64
post_all                       string
dtype: object
... (truncated)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
data_id,36520,36530,36564,36565,36566,36567,36628,36629,36631,36648,36677,36680,36698,36765,36788,36799,36816,36821,36833,36851
money_room,17800000,16700000,9950000,8480000,8200000,9800000,22800000,17800000,16800000,39980000,13200000,11900000,11800000,5600000,26800000,29800000,4900000,14300000,5800000,20800000
building_structure,4.0,4.0,5.0,5.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,5.0,5.0,4.0,5.0,4.0,4.0,4.0,5.0,5.0
floor_count,6.0,5.0,14.0,14.0,14.0,14.0,7.0,5.0,5.0,23.0,11.0,14.0,15.0,7.0,11.0,6.0,4.0,11.0,11.0,11.0
year_built,200703.0,200302.0,199506.0,199810.0,199810.0,199604.0,200702.0,200609.0,200609.0,200403.0,198910.0,199203.0,198710.0,199103.0,198911.0,197303.0,198602.0,200702.0,199003.0,198110.0
building_land_chimoku,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
land_youto,3.0,11.0,2.0,2.0,2.0,2.0,11.0,11.0,11.0,11.0,12.0,12.0,11.0,12.0,5.0,3.0,2.0,5.0,NaN,5.0
land_toshi,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0
land_chisei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
management_form,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
room_floor,1.0,5.0,6.0,5.0,4.0,1.0,1.0,4.0,1.0,16.0,7.0,8.0,4.0,2.0,11.0,5.0,1.0,10.0,2.0,4.0
balcony_area,0.0,14.7,11.49,11.49,11.49,35.07,9.88,8.67,9.65,NaN,NaN,NaN,NaN,9.08,9.56,6.72,0.0,3.72,3.41,NaN
dwelling_unit_window_angle,NaN,5.0,5.0,4.0,5.0,5.0,4.0,5.0,5.0,NaN,NaN,NaN,NaN,6.0,5.0,7.0,3.0,3.0,5.0,NaN
room_count,3.0,2.0,3.0,3.0,2.0,4.0,4.0,2.0,2.0,NaN,NaN,NaN,NaN,2.0,3.0,2.0,1.0,1.0,1.0,NaN
unit_area,76.739998,79.940002,73.830002,73.830002,73.830002,88.199997,83.800003,56.610001,69.190002,NaN,NaN,NaN,NaN,57.82,71.339996,58.799999,17.52,27.67,19.5,NaN
unit_house_area_adjusted,76.739998,79.940002,73.830002,73.830002,73.830002,88.199997,83.800003,56.610001,69.190002,102.25,63.48,63.03,66.89,57.82,71.339996,58.799999,17.52,27.67,19.5,66.05
floor_plan_code,350.0,250.0,350.0,350.0,250.0,450.0,450.0,250.0,250.0,NaN,NaN,NaN,NaN,250.0,350.0,250.0,120.0,120.0,110.0,NaN
flg_investment,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN
post1,478.0,478.0,315.0,315.0,315.0,315.0,197.0,197.0,197.0,599.0,599.0,599.0,599.0,259.0,602.0,602.0,602.0,602.0,602.0,602.0
post_all,478-0001,478-0012,315-0052,315-0052,315-0052,315-0052,197-0828,197-0828,197-0828,599-8123,599-8113,599-8114,599-8124,259-0312,602-8342,602-0915,602-0802,602-0053,602-8058,602-8448
addr1_1,23,23,8,8,8,8,13,13,13,27,27,27,27,14,26,26,26,26,26,26
addr_all,23-224,23-224,08-230,08-230,08-230,08-230,13-228,13-228,13-228,27-143,27-143,27-143,27-143,14-384,26-102,26-102,26-102,26-102,26-102,26-102
walk_distance1,320.0,480.0,720.0,640.0,720.0,720.0,1360.0,1200.0,1200.0,80.0,640.0,320.0,640.0,1440.0,1440.0,560.0,640.0,480.0,1440.0,1200.0
walk_distance2,1600.0,1200.0,7900.0,NaN,NaN,NaN,NaN,NaN,NaN,1200.0,NaN,800.0,800.0,NaN,1520.0,NaN,NaN,1200.0,2160.0,NaN
house_area,76.74,79.94,73.83,73.83,73.83,88.2,83.8,56.61,69.19,102.25,63.48,63.03,66.89,57.82,71.34,56.4,15.54,27.67,19.53,66.05
room_kaisuu,1.0,5.0,6.0,5.0,4.0,1.0,1.0,4.0,1.0,16.0,7.0,8.0,4.0,2.0,11.0,5.0,1.0,10.0,2.0,4.0
snapshot_window_angle,NaN,5.0,5.0,4.0,5.0,5.0,5.0,5.0,5.0,8.0,5.0,3.0,7.0,6.0,5.0,7.0,NaN,3.0,5.0,5.0
madori_number_all,3,2,3,3,2,4,4,2,2,4,3,3,3,2,3,2,1,1,1,2
madori_kind_all,50,50,55,55,55,50,50,50,55,50,50,50,50,50,50,50,20,20,10,50
money_kyoueki,8440.0,9600.0,8040.0,8040.0,8040.0,9590.0,14000.0,10600.0,12900.0,14620.0,9250.0,6780.0,6000.0,9100.0,12100.0,8710.0,7300.0,11130.0,6000.0,12280.0
parking_money,3000.0,NaN,4000.0,4000.0,4000.0,4000.0,0.0,0.0,8000.0,0.0,0.0,10000.0,NaN,6000.0,NaN,NaN,NaN,NaN,NaN,NaN
genkyo_code,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,2.0,1.0,2.0,3.0,1.0
usable_status,2,2,1,1,2,2,2,2,2,1,1,2,2,2,1,2,2,1,2,2
target_ym,201907,201907,201907,201907,201907,201907,201907,201907,201907,201907,201907,201907,201907,201907,201907,201907,201907,201907,201907,201907
lon,136.875754,136.911099,140.253306,140.254006,140.254006,140.25271,139.298947,139.299797,139.299797,135.542877,135.528441,135.532365,135.545496,139.121091,135.741292,135.757382,135.764753,135.754406,135.752397,135.747245
lat,35.002403,34.963407,36.123191,36.123076,36.123076,36.123386,35.723465,35.724402,35.724402,34.521959,34.536719,34.539112,34.520365,35.153927,35.024399,35.024781,35.035314,35.02981,35.022782,35.030036
unit_area_min,NaN,79.940002,NaN,NaN,NaN,NaN,61.549999,56.610001,56.610001,NaN,61.0,61.82,68.0,57.82,31.85,56.400002,17.52,23.35,19.530001,NaN
unit_area_max,NaN,84.410004,NaN,NaN,NaN,NaN,83.800003,69.190002,69.190002,NaN,80.129997,116.0,68.0,83.199997,75.5,68.800003,17.6,30.030001,63.900002,NaN
koji_price,72300.0,72800.0,34000.0,34000.0,34000.0,34000.0,123000.0,123000.0,123000.0,196000.0,103000.0,136000.0,111000.0,54500.0,385000.0,523000.0,340000.0,244000.0,425000.0,213000.0
koji_usage_code,1中専,1中専,1住居,1住居,1住居,1住居,1低専,1低専,1低専,近商,1住居,1住居,1中専,1中専,商業,2住居,2中専,準工,2住居,準工
koji_distance_km,0.334046,0.333541,0.42216,0.485854,0.485854,0.364474,0.25744,0.160022,0.160022,0.30864,0.156113,0.38806,0.466351,1.057773,0.148399,0.315335,0.240224,0.346802,0.176431,0.154762
land_price,121000.0,84500.0,33100.0,33100.0,33100.0,33100.0,117000.0,117000.0,117000.0,202000.0,115000.0,124000.0,121000.0,44500.0,360000.0,620000.0,320000.0,640000.0,620000.0,465000.0
land_usage_code,商業,近商,1低専,1低専,1低専,1低専,1低専,1低専,1低専,近商,1住居,1低専,1中専,1住居,近商,2住居,1低専,商業,2住居,商業
land_distance_km,1.217279,0.389307,0.764164,0.828192,0.828192,0.70673,0.506307,0.405275,0.405275,0.30864,0.393381,0.569725,0.528132,0.120575,0.602446,0.448998,0.110084,0.279661,0.542469,0.114546
mesh_population_2025,4594.915,4814.8464,2503.7462,2503.7462,2503.7462,2503.7462,4180.8863,4180.8863,4180.8863,12337.4215,8459.1583,8459.1583,12337.4215,2857.5039,19338.4868,9882.7481,9461.4923,14039.4951,9882.7481,17732.9624
mesh_population_2035,4510.4234,4597.3614,2313.3448,2313.3448,2313.3448,2313.3448,4163.4708,4163.4708,4163.4708,11481.9441,7889.6695,7889.6695,11481.9441,2461.4026,19174.8457,9653.7749,9029.6601,13573.2215,9653.7749,16431.971
mesh_population_2045,4325.702,4321.1194,2075.9417,2075.9417,2075.9417,2075.9417,4091.9301,4091.9301,4091.9301,10504.4733,7239.7301,7239.7301,10504.4733,2084.1099,17984.8655,9209.2205,8211.7279,13146.638,9209.2205,15668.9402
mesh_population_2055,4085.6396,4012.5919,1817.5855,1817.5855,1817.5855,1817.5855,3961.2651,3961.2651,3961.2651,9546.9523,6630.3346,6630.3346,9546.9523,1726.696,17149.217,8692.2545,7609.8892,12636.6648,8692.2545,14698.9919
unit_tag_230401,1,0,1,1,0,0,1,1,1,0,0,0,0,0,1,1,1,1,0,0
unit_tag_220301,0,0,0,1,1,0,1,1,1,0,0,0,0,0,1,1,0,1,0,0
unit_tag_230203,0,0,0,1,0,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0
unit_tag_223101,0,0,0,1,0,0,1,1,1,0,0,0,0,0,0,1,0,1,0,0
unit_tag_230501,1,0,0,0,0,0,1,1,1,0,0,0,0,0,1,1,0,0,1,0
unit_tag_340401,0,0,0,0,0,0,1,1,1,0,0,0,0,0,1,0,0,1,0,0
unit_tag_230601,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
unit_tag_250301,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0
unit_tag_240201,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
unit_tag_340201,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
unit_tag_331001,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
unit_tag_340101,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0
unit_tag_290201,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
building_tag_310101,1,0,1,1,1,0,1,1,1,1,1,0,0,1,1,0,1,1,1,0
building_tag_321101,1,0,0,0,0,0,1,1,1,1,1,0,1,0,0,0,0,1,1,0
building_tag_334101,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_330101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
building_tag_320401,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_334201,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_433301,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_310401,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
unit_id,85898,202805,301097,81876,231749,84374,220452,171038,178176,257940,130946,35660,224580,206562,119766,160781,256218,146419,237764,252525
money_room_past_6m,16.749367,16.630919,16.28361,15.953221,15.955577,16.097893,16.489659,16.694709,16.749367,17.595144,16.4182,16.292049,16.28361,15.538277,17.103912,17.210019,15.573368,16.47577,15.65606,16.942271
money_room_past_12m,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
money_room_past_18m,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
money_room_past_24m,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
money_room_past_over_30m,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

--- train dataset: カラムサマリー ---
75 columns
columns 1-75 / 75

,column_name,row_count,not_null_count,not_null_rate_pct,min,max,random_sample_1,random_sample_2,random_sample_3,random_sample_4,random_sample_5
0,data_id,54372,54372,100.00,36520,363923,180876,126185,178010,360806,314282
1,money_room,54372,54372,100.00,4900000,188000000,7900000,10800000,17800000,8800000,6900000
2,building_structure,54372,53576,98.54,1.0,11.0,4.0,5.0,4.0,5.0,4.0
3,floor_count,54372,54365,99.99,0.0,58.0,14.0,11.0,10.0,15.0,13.0
4,year_built,54372,53573,98.53,195709.0,202204.0,198910.0,197811.0,198506.0,200502.0,198307.0
5,building_land_chimoku,54372,5968,10.98,0.0,9.0,1.0,9.0,1.0,1.0,1.0
6,land_youto,54372,47594,87.53,1.0,99.0,7.0,12.0,11.0,11.0,3.0
7,land_toshi,54372,36054,66.31,0.0,4.0,1.0,1.0,1.0,2.0,2.0
8,land_chisei,54372,11246,20.68,0.0,9.0,1.0,1.0,1.0,1.0,1.0
9,management_form,54372,52761,97.04,0.0,3.0,3.0,3.0,3.0,3.0,3.0
10,room_floor,54372,54317,99.90,-1.0,55.0,4.0,5.0,5.0,5.0,3.0
11,balcony_area,54372,41980,77.21,0.0,7350.0,3.67,9.3,7.2,39.16,44.259998
12,dwelling_unit_window_angle,54372,44685,82.18,0.0,8.0,5.0,3.0,1.0,6.0,6.0
13,room_count,54372,46018,84.64,1.0,12.0,4.0,3.0,1.0,3.0,1.0
14,unit_area,54372,46020,84.64,6.4,2642.12988,79.650002,101.589996,24.16,66.290001,60.34
15,unit_house_area_adjusted,54372,54369,99.99,11.2,459.160004,61.599998,75.300003,76.300003,64.18,93.839996
16,floor_plan_code,54372,46018,84.64,110.0,1250.0,350.0,350.0,350.0,250.0,250.0
17,flg_investment,54372,29861,54.92,0.0,2.0,0.0,0.0,0.0,0.0,1.0
18,post1,54372,53043,97.56,1.0,992.0,335.0,277.0,164.0,533.0,104.0
19,post_all,54372,53043,97.56,001-0003,992-0039,330-0801,981-0965,811-3225,225-0002,232-0014
20,addr1_1,54372,54372,100.00,1,47,40,22,13,14,37
21,addr_all,54372,54372,100.00,01-101,47-326,12-106,13-102,13-113,23-101,13-116
22,walk_distance1,54372,53951,99.23,3.0,29040.0,880.0,160.0,560.0,400.0,800.0
23,walk_distance2,54372,36579,67.28,10.0,8000.0,240.0,480.0,1760.0,480.0,1360.0
24,house_area,54372,54372,100.00,4.5,9323.0,77.5,32.5,99.3,73.84,97.54
25,room_kaisuu,54372,54372,100.00,-703.0,55.0,9.0,1.0,6.0,1.0,3.0
26,snapshot_window_angle,54372,51379,94.50,0.0,8.0,4.0,5.0,5.0,3.0,6.0
27,madori_number_all,54372,54372,100.00,1,37,1,2,3,3,4
28,madori_kind_all,54372,54372,100.00,10,55,50,50,50,50,50
29,money_kyoueki,54372,54365,99.99,0.0,94669386.0,16570.0,10900.0,5000.0,14540.0,4000.0
30,parking_money,54372,25887,47.61,0.0,170000.0,18500.0,6000.0,28000.0,4000.0,5500.0
31,genkyo_code,54372,53684,98.73,1.0,4.0,2.0,3.0,2.0,2.0,2.0
32,usable_status,54372,54372,100.00,1,3,2,2,1,2,2
33,target_ym,54372,54372,100.00,201907,202207,202007,202007,202001,202201,202201
34,lon,54372,54372,100.00,127.656334,144.392856,139.361934,130.763645,135.335535,139.666108,139.628306
35,lat,54372,54372,100.00,26.119989,43.802497,35.534187,35.879722,35.408722,35.793197,34.721781
36,unit_area_min,54372,34351,63.18,10.88,148.720001,68.330002,81.540001,60.130001,56.389999,71.889999
37,unit_area_max,54372,34351,63.18,11.25,149.970001,62.080002,51.68,33.119999,100.660004,74.059998
38,koji_price,54372,54359,99.98,930.0,19800000.0,148000.0,673000.0,1290000.0,250000.0,242000.0
39,koji_usage_code,54372,54182,99.65,1中専,近商,1中専,商業,1住居,商業,1低専
40,koji_distance_km,54372,54359,99.98,0.000093,2.958738,0.002164,0.264063,0.461932,0.597765,0.379934
41,land_price,54372,54323,99.91,9300.0,24400000.0,152000.0,2630000.0,360000.0,1520000.0,131000.0
42,land_usage_code,54372,53886,99.11,1中専,近商,商業,1住居,1中専,1住居,1中専
43,land_distance_km,54372,54323,99.91,0.000292,2.926962,0.635468,0.67412,0.44327,0.085604,0.509042
44,mesh_population_2025,54372,54372,100.00,30.7093,33642.3438,12700.6902,12850.3984,17476.5015,5191.2634,3698.6208
45,mesh_population_2035,54372,54372,100.00,28.6001,35614.0103,16010.8222,7813.7512,16125.8219,1490.5648,8794.1416
46,mesh_population_2045,54372,54372,100.00,23.1454,37207.3593,14028.6348,15370.8252,26959.6067,7611.6859,30813.0398
47,mesh_population_2055,54372,54372,100.00,18.6723,37370.2454,3268.7672,17690.2503,17281.9021,17673.9496,764.1191
48,unit_tag_230401,54372,54372,100.00,0,1,1,1,1,0,1
49,unit_tag_220301,54372,54372,100.00,0,1,1,1,0,0,1
50,unit_tag_230203,54372,54372,100.00,0,1,1,0,1,1,0
51,unit_tag_223101,54372,54372,100.00,0,1,0,0,0,1,1
52,unit_tag_230501,54372,54372,100.00,0,1,0,0,0,0,1
53,unit_tag_340401,54372,54372,100.00,0,1,0,1,1,1,0
54,unit_tag_230601,54372,54372,100.00,0,1,0,0,0,1,0
55,unit_tag_250301,54372,54372,100.00,0,1,0,0,0,0,0
56,unit_tag_240201,54372,54372,100.00,0,1,0,0,0,0,0
57,unit_tag_340201,54372,54372,100.00,0,1,0,0,0,0,1
58,unit_tag_331001,54372,54372,100.00,0,1,0,0,0,0,0
59,unit_tag_340101,54372,54372,100.00,0,1,0,0,0,0,0
60,unit_tag_290201,54372,54372,100.00,0,1,1,0,0,0,0
61,building_tag_310101,54372,54372,100.00,0,1,0,0,1,1,0
62,building_tag_321101,54372,54372,100.00,0,1,0,0,0,1,1
63,building_tag_334101,54372,54372,100.00,0,1,0,0,0,1,0
64,building_tag_330101,54372,54372,100.00,0,1,0,0,1,1,0
65,building_tag_320401,54372,54372,100.00,0,1,0,0,0,0,0
66,building_tag_334201,54372,54372,100.00,0,1,0,0,0,0,0
67,building_tag_433301,54372,54372,100.00,0,1,0,0,0,0,0
68,building_tag_310401,54372,54372,100.00,0,1,0,0,0,0,0
69,unit_id,54372,54372,100.00,16,323480,284773,157128,96141,80628,298694
70,money_room_past_6m,54372,49970,91.90,15.404746,19.051953,17.370859,16.694709,16.503358,16.300417,15.573368
71,money_room_past_12m,54372,18014,33.13,15.404746,19.051953,16.364956,16.85526,16.770421,18.301897,16.636889
72,money_room_past_18m,54372,7973,14.66,15.404746,19.024997,16.606676,15.60727,17.491811,16.510138,17.639795
73,money_room_past_24m,54372,3931,7.23,15.404746,19.008467,16.097893,15.882373,16.195057,16.929026,17.210019
74,money_room_past_over_30m,54372,2521,4.64,15.404746,18.939475,16.454568,16.300417,16.118096,16.801192,16.906553

=== test ===
path: data/processed/0002_mansion/0006_same_unit_id/test.parquet
shape: 13566 rows x 74 cols
dtypes (first 20 columns):
data_id                        string
building_structure            float64
floor_count                   float64
year_built                    float64
building_land_chimoku         float64
land_youto                    float64
land_toshi                    float64
land_chisei                   float64
management_form               float64
room_floor                    float64
balcony_area                  float64
dwelling_unit_window_angle    float64
room_count                    float64
unit_area                     float64
unit_house_area_adjusted      Float64
floor_plan_code               float64
flg_investment                float64
post1                         float64
post_all                       string
addr1_1                         int64
dtype: object
... (truncated)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
data_id,0,17,51,52,110,123,125,138,148,154,164,166,169,170,180,212,219,226,231,235
building_structure,5.0,4.0,4.0,4.0,4.0,4.0,5.0,4.0,4.0,4.0,5.0,5.0,5.0,5.0,5.0,3.0,4.0,4.0,4.0,5.0
floor_count,14.0,6.0,7.0,7.0,24.0,15.0,14.0,10.0,11.0,6.0,15.0,15.0,15.0,15.0,10.0,3.0,11.0,11.0,7.0,11.0
year_built,199510.0,199201.0,199803.0,199803.0,200401.0,200901.0,199103.0,198901.0,199702.0,197404.0,198710.0,198710.0,198710.0,198710.0,198803.0,197803.0,200208.0,200707.0,199511.0,197809.0
building_land_chimoku,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
land_youto,7.0,11.0,3.0,3.0,11.0,3.0,11.0,12.0,12.0,11.0,11.0,11.0,11.0,11.0,5.0,10.0,5.0,5.0,NaN,5.0
land_toshi,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0
land_chisei,NaN,NaN,NaN,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
management_form,3.0,1.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
room_floor,4.0,2.0,6.0,3.0,1.0,1.0,3.0,2.0,3.0,6.0,14.0,7.0,2.0,2.0,3.0,3.0,4.0,4.0,2.0,7.0
balcony_area,9.81,12.2,25.799999,0.0,NaN,0.0,11.7,9.44,40.369999,4.63,8.52,7.92,17.219999,11.97,10.8,2.08,10.229999,NaN,NaN,0.0
dwelling_unit_window_angle,5.0,NaN,7.0,NaN,NaN,3.0,3.0,6.0,5.0,7.0,4.0,7.0,3.0,NaN,5.0,5.0,3.0,NaN,1.0,7.0
room_count,3.0,3.0,3.0,2.0,NaN,4.0,2.0,3.0,3.0,2.0,3.0,3.0,4.0,3.0,2.0,1.0,3.0,NaN,2.0,2.0
unit_area,70.190002,70.269997,59.110001,61.41,NaN,92.709999,62.939999,72.650002,77.0,56.189999,74.690002,60.950001,70.68,66.889999,65.400002,21.27,77.279999,NaN,57.610001,46.880001
unit_house_area_adjusted,70.190002,70.269997,59.110001,61.41,95.080002,92.709999,62.939999,72.650002,77.0,56.189999,74.0,60.950001,70.0,66.889999,65.400002,21.27,77.0,89.0,57.610001,46.880001
floor_plan_code,350.0,350.0,350.0,250.0,NaN,450.0,250.0,350.0,350.0,250.0,350.0,350.0,450.0,350.0,250.0,120.0,350.0,NaN,250.0,230.0
flg_investment,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
post1,511.0,521.0,197.0,197.0,599.0,599.0,599.0,599.0,599.0,599.0,599.0,599.0,599.0,599.0,259.0,602.0,602.0,602.0,602.0,602.0
post_all,511-0002,521-0016,197-0804,197-0804,599-8123,599-8107,599-8121,599-8113,599-8114,599-8104,599-8124,599-8124,599-8124,599-8124,259-0303,602-0825,602-8296,602-8151,602-0915,602-8067
addr1_1,24,25,13,13,27,27,27,27,27,27,27,27,27,27,14,26,26,26,26,26
addr_all,24-205,25-214,13-228,13-228,27-143,27-143,27-143,27-143,27-143,27-143,27-143,27-143,27-143,27-143,14-384,26-102,26-102,26-102,26-102,26-102
walk_distance1,887.0,800.0,560.0,640.0,320.0,800.0,800.0,720.0,800.0,640.0,640.0,480.0,640.0,640.0,640.0,560.0,1280.0,1120.0,480.0,960.0
walk_distance2,909.0,NaN,NaN,2880.0,960.0,1200.0,1440.0,960.0,1520.0,1440.0,NaN,720.0,560.0,NaN,NaN,1040.0,1840.0,1200.0,1120.0,1600.0
house_area,70,70,59,61,80,92,62,72,77,56,74,60,70,66,65,21,77,89,57,46
room_kaisuu,4.0,2.0,6.0,3.0,1.0,1.0,3.0,2.0,3.0,6.0,14.0,7.0,2.0,2.0,3.0,3.0,4.0,4.0,2.0,7.0
snapshot_window_angle,5.0,NaN,7.0,5.0,5.0,5.0,3.0,6.0,5.0,7.0,4.0,7.0,3.0,NaN,5.0,5.0,3.0,5.0,1.0,7.0
madori_number_all,3,3,3,2,3,4,2,3,3,2,3,3,4,3,2,1,3,4,2,2
madori_kind_all,50,50,50,50,50,50,50,50,55,50,50,50,50,50,55,10,50,50,50,30
money_kyoueki,8400.0,14200.0,10730.0,9880.0,11560.0,12880.0,4100.0,8000.0,9600.0,10000.0,10500.0,9300.0,9900.0,6000.0,13770.0,6000.0,10200.0,10774.0,10700.0,8060.0
parking_money,5250.0,NaN,0.0,NaN,NaN,NaN,NaN,10000.0,NaN,6000.0,NaN,7200.0,7200.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
genkyo_code,2.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0
usable_status,1,2,2,2,2,2,1,2,1,2,1,2,2,2,1,1,2,2,2,2
target_ym,202301,202301,202301,202301,202301,202301,202301,202301,202301,202301,202301,202301,202301,202301,202301,202301,202301,202301,202301,202301
lon,136.688153,136.282342,139.287266,139.287266,135.542782,135.520762,135.537501,135.527252,135.524024,135.528656,135.545496,135.545496,135.545496,135.545496,139.10442,135.76801,135.74228,135.746811,135.756833,135.752303
lat,35.072193,35.316102,35.732097,35.732097,34.520931,34.547981,34.527293,34.536041,34.537998,34.546788,34.520365,34.520365,34.520365,34.520365,35.141574,35.031176,35.026689,35.018356,35.024758,35.025938
unit_area_min,NaN,NaN,67.360001,67.360001,95.080002,62.860001,62.740002,63.0,NaN,51.439999,68.0,68.0,68.0,68.0,58.669998,NaN,68.730003,NaN,NaN,43.799999
unit_area_max,NaN,NaN,70.349998,70.349998,95.080002,92.779999,96.32,76.0,NaN,58.349998,68.0,68.0,68.0,68.0,65.400002,NaN,72.489998,NaN,NaN,55.139999
koji_price,69600.0,55000.0,163000.0,163000.0,212000.0,122000.0,111000.0,108000.0,108000.0,122000.0,118000.0,118000.0,118000.0,118000.0,105000.0,632000.0,405000.0,389000.0,617000.0,617000.0
koji_usage_code,1住居,<NA>,2中専,2中専,近商,1低専,1中専,1住居,1住居,1低専,1中専,1中専,1中専,1中専,商業,商業,商業,1住居,2住居,2住居
koji_distance_km,0.21185,0.441589,0.210507,0.210507,0.388819,0.654948,0.198033,0.180206,0.291257,0.423169,0.466357,0.466357,0.466357,0.466357,0.226601,0.219892,0.173513,0.255623,0.269283,0.165843
land_price,95400.0,73500.0,166000.0,166000.0,214000.0,141000.0,214000.0,121000.0,121000.0,151000.0,135000.0,135000.0,135000.0,135000.0,119000.0,650000.0,378000.0,692000.0,680000.0,730000.0
land_usage_code,商業,近商,準住居,準住居,近商,1中専,近商,1住居,1住居,1低専,1中専,1中専,1中専,1中専,商業,商業,近商,商業,2住居,商業
land_distance_km,0.58569,0.362022,0.280328,0.280328,0.38979,0.195595,0.467173,0.299863,0.121444,0.291241,0.525676,0.525676,0.525676,0.525676,0.435064,0.219863,0.488084,0.433525,0.448816,0.592445
mesh_population_2025,3359.3868,1948.1817,3322.3047,3322.3047,12337.4215,10969.2609,8974.0872,8459.1583,9056.7318,10434.3048,12337.4215,12337.4215,12337.4215,12337.4215,177.90905,7199.5283,17732.9624,19338.4868,9882.7481,14039.4951
mesh_population_2035,3134.8871,1879.0298,3118.2884,3118.2884,11481.9441,10185.197,8201.4112,7889.6695,8455.4728,9689.9081,11481.9441,11481.9441,11481.9441,11481.9441,161.3543,6866.7827,16431.971,19174.8457,9653.7749,13573.2215
mesh_population_2045,2860.1611,1755.7996,2897.1708,2897.1708,10504.4733,9315.1218,7451.3663,7239.7301,7679.1754,9003.3029,10504.4733,10504.4733,10504.4733,10504.4733,142.72625,6933.5229,15668.9402,17984.8655,9209.2205,13146.638
mesh_population_2055,2519.7713,1582.3166,2673.3522,2673.3522,9546.9523,8550.3593,6761.3669,6630.3346,6892.1808,8462.0567,9546.9523,9546.9523,9546.9523,9546.9523,121.1904,6718.3184,14698.9919,17149.217,8692.2545,12636.6648
unit_tag_230401,1,0,1,0,0,1,1,1,1,0,1,1,1,0,0,1,0,0,1,0
unit_tag_220301,1,0,1,0,0,1,1,0,1,1,0,1,1,0,1,1,0,0,1,1
unit_tag_230203,0,0,0,0,0,0,1,0,0,0,1,1,1,0,1,1,0,0,1,0
unit_tag_223101,0,0,0,0,0,1,1,1,1,0,1,1,1,0,1,0,0,0,1,1
unit_tag_230501,0,0,1,0,0,1,1,1,0,0,0,1,1,0,0,0,1,0,0,0
unit_tag_340401,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0,1,1
unit_tag_230601,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
unit_tag_250301,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
unit_tag_240201,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
unit_tag_340201,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
unit_tag_331001,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1
unit_tag_340101,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
unit_tag_290201,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_310101,0,0,1,1,1,1,0,1,1,0,0,0,0,0,0,0,1,1,1,0
building_tag_321101,0,0,0,0,1,1,0,0,0,0,1,1,1,1,0,0,1,0,1,1
building_tag_334101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_330101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_320401,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_334201,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_433301,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_310401,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
unit_id,149752,101084,7113,67287,98669,128749,295908,248623,117700,319308,143877,2722,106589,283564,53372,279449,4074,175650,281747,108998
money_room_past_6m,16.57552,16.195057,17.147715,17.274977,17.365128,17.281246,16.906553,16.67714,16.80623,15.732433,16.440179,16.510138,16.440179,<NA>,<NA>,<NA>,<NA>,17.955466,<NA>,17.026354
money_room_past_12m,<NA>,<NA>,<NA>,17.274977,<NA>,<NA>,17.034386,<NA>,<NA>,<NA>,<NA>,<NA>,16.447399,<NA>,<NA>,<NA>,17.335971,18.061145,<NA>,17.065885
money_room_past_18m,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,16.801192,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,17.365128,<NA>,17.35647,<NA>
money_room_past_24m,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,16.801192,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,15.919645,<NA>,<NA>,<NA>,<NA>
money_room_past_over_30m,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,16.850464,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,16.372738,15.869634,<NA>,<NA>,<NA>,17.35647,<NA>

--- test dataset: カラムサマリー ---
74 columns
columns 1-74 / 74

,column_name,row_count,not_null_count,not_null_rate_pct,min,max,random_sample_1,random_sample_2,random_sample_3,random_sample_4,random_sample_5
0,data_id,13566,13566,100.00,0,99962,43509,36891,42658,23806,12109
1,building_structure,13566,13429,98.99,3.0,12.0,5.0,5.0,4.0,5.0,5.0
2,floor_count,13566,13566,100.00,0.0,58.0,4.0,8.0,11.0,7.0,4.0
3,year_built,13566,13429,98.99,193101.0,202204.0,202011.0,200112.0,198204.0,200610.0,199105.0
4,building_land_chimoku,13566,1599,11.79,1.0,9.0,1.0,1.0,1.0,1.0,1.0
5,land_youto,13566,12010,88.53,1.0,99.0,4.0,11.0,7.0,11.0,11.0
6,land_toshi,13566,9355,68.96,1.0,4.0,1.0,1.0,1.0,1.0,1.0
7,land_chisei,13566,2769,20.41,0.0,9.0,1.0,1.0,1.0,1.0,1.0
8,management_form,13566,13317,98.16,1.0,3.0,3.0,3.0,3.0,3.0,3.0
9,room_floor,13566,13555,99.92,-1.0,49.0,4.0,4.0,7.0,12.0,8.0
10,balcony_area,13566,11311,83.38,0.0,147.139999,14.520001,0.0,7.6,12.9,7.66
11,dwelling_unit_window_angle,13566,11949,88.08,0.0,8.0,5.0,3.0,5.0,7.0,4.0
12,room_count,13566,12267,90.42,1.0,12.0,3.0,3.0,3.0,3.0,3.0
13,unit_area,13566,12266,90.42,10.12,1864.15002,70.919998,102.150002,35.049999,68.529999,61.959999
14,unit_house_area_adjusted,13566,13566,100.00,10.12,200.889999,65.0,48.599998,46.150002,70.559998,52.970001
15,floor_plan_code,13566,12267,90.42,110.0,1250.0,250.0,350.0,110.0,350.0,350.0
16,flg_investment,13566,7575,55.84,0.0,2.0,1.0,0.0,1.0,0.0,0.0
17,post1,13566,13298,98.02,1.0,990.0,240.0,467.0,703.0,812.0,560.0
18,post_all,13566,13298,98.02,001-0015,990-2492,810-0016,254-0014,760-0055,272-0014,980-0803
19,addr1_1,13566,13566,100.00,1,47,40,13,22,13,23
20,addr_all,13566,13566,100.00,01-101,47-326,14-107,13-108,27-227,27-127,12-216
21,walk_distance1,13566,13463,99.24,10.0,24800.0,800.0,1200.0,320.0,960.0,80.0
22,walk_distance2,13566,10193,75.14,20.0,8700.0,560.0,1040.0,480.0,1200.0,1200.0
23,house_area,13566,13566,100.00,10,8384,37,19,83,66,63
24,room_kaisuu,13566,13566,100.00,-1.0,302.0,3.0,9.0,8.0,7.0,2.0
25,snapshot_window_angle,13566,12873,94.89,0.0,8.0,5.0,3.0,5.0,5.0,3.0
26,madori_number_all,13566,13566,100.00,1,7,4,4,3,3,3
27,madori_kind_all,13566,13566,100.00,10,55,50,50,50,50,50
28,money_kyoueki,13566,13566,100.00,0.0,143000.0,12100.0,11000.0,7000.0,7560.0,10640.0
29,parking_money,13566,6575,48.47,0.0,95000.0,5200.0,15000.0,4500.0,4500.0,9500.0
30,genkyo_code,13566,13430,99.00,1.0,4.0,2.0,2.0,2.0,1.0,2.0
31,usable_status,13566,13566,100.00,1,3,2,2,2,2,2
32,target_ym,13566,13566,100.00,202301,202307,202301,202307,202301,202301,202301
33,lon,13566,13566,100.00,127.656728,143.886417,139.514149,130.471171,139.685049,138.185465,135.237996
34,lat,13566,13566,100.00,26.152424,43.802497,34.918169,35.691861,34.473852,35.39738,35.778623
35,unit_area_min,13566,8370,61.70,10.12,144.830002,52.09,47.110001,63.220001,58.18,53.549999
36,unit_area_max,13566,8370,61.70,13.0,148.850006,63.419998,76.0,58.0,80.68,54.5
37,koji_price,13566,13562,99.97,900.0,20000000.0,413000.0,3410000.0,273000.0,330000.0,144000.0
38,koji_usage_code,13566,13521,99.67,1中専,近商,1住居,2中専,1中専,商業,商業
39,koji_distance_km,13566,13562,99.97,0.000672,2.958735,0.034263,0.326438,0.187313,0.365019,0.184031
40,land_price,13566,13546,99.85,9200.0,19500000.0,2230000.0,2700000.0,3970000.0,224000.0,120000.0
41,land_usage_code,13566,13436,99.04,1中専,近商,商業,準工,1住居,近商,商業
42,land_distance_km,13566,13546,99.85,0.000292,2.926962,0.781737,0.619065,0.500774,0.93742,0.951511
43,mesh_population_2025,13566,13566,100.00,43.0574,33642.3438,17053.3614,4415.7316,18015.8756,28985.1598,28027.4069
44,mesh_population_2035,13566,13566,100.00,41.0178,35614.0103,5840.6998,10952.199,8271.8898,28029.1943,6944.7802
45,mesh_population_2045,13566,13566,100.00,37.4369,37207.3593,12012.535,4952.1585,21808.654,18353.827,1726.1071
46,mesh_population_2055,13566,13566,100.00,32.123,37370.2454,15286.1157,15337.58,23866.2102,6517.5854,10941.6601
47,unit_tag_230401,13566,13566,100.00,0,1,1,0,0,1,1
48,unit_tag_220301,13566,13566,100.00,0,1,1,0,1,1,0
49,unit_tag_230203,13566,13566,100.00,0,1,1,0,0,1,0
50,unit_tag_223101,13566,13566,100.00,0,1,0,1,1,0,1
51,unit_tag_230501,13566,13566,100.00,0,1,1,1,0,1,1
52,unit_tag_340401,13566,13566,100.00,0,1,1,0,1,0,0
53,unit_tag_230601,13566,13566,100.00,0,1,1,0,0,0,0
54,unit_tag_250301,13566,13566,100.00,0,1,0,0,0,1,0
55,unit_tag_240201,13566,13566,100.00,0,1,1,0,0,0,0
56,unit_tag_340201,13566,13566,100.00,0,1,0,0,1,0,0
57,unit_tag_331001,13566,13566,100.00,0,1,1,0,1,0,0
58,unit_tag_340101,13566,13566,100.00,0,1,0,1,0,0,0
59,unit_tag_290201,13566,13566,100.00,0,1,0,0,0,0,0
60,building_tag_310101,13566,13566,100.00,0,1,1,1,1,1,1
61,building_tag_321101,13566,13566,100.00,0,1,1,0,1,0,0
62,building_tag_334101,13566,13566,100.00,0,1,1,0,0,1,1
63,building_tag_330101,13566,13566,100.00,0,1,0,0,0,0,0
64,building_tag_320401,13566,13566,100.00,0,1,0,0,0,0,0
65,building_tag_334201,13566,13566,100.00,0,1,0,0,0,0,0
66,building_tag_433301,13566,13566,100.00,0,1,0,0,0,0,0
67,building_tag_310401,13566,13566,100.00,0,1,0,0,0,0,0
68,unit_id,13566,13566,100.00,12,323476,228404,263675,216581,36677,2974
69,money_room_past_6m,13566,7748,57.11,15.404746,19.007912,17.014184,17.473931,16.694709,17.140547,16.801192
70,money_room_past_12m,13566,6071,44.75,15.404746,19.035866,16.955343,17.335971,17.026354,17.278117,16.516872
71,money_room_past_18m,13566,2941,21.68,15.404746,18.980297,17.321068,16.754672,16.108045,16.28361,16.694709
72,money_room_past_24m,13566,1785,13.16,15.404746,18.980297,16.213406,15.931766,16.642824,17.661394,16.826131
73,money_room_past_over_30m,13566,2578,19.00,15.404746,18.939475,16.618871,16.372738,16.923082,17.44782,17.548407