# 0001_kodate / 0005_targetyear_geo_features プレビュー

`data/processed/0001_kodate/0005_targetyear_geo_features` に出力した train/test Parquet を手早く点検するノートです。形状・スキーマ・先頭データを最低限チェックできるようにしています。

In [1]:
from pathlib import Path

import pandas as pd
from IPython.display import display

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 400)

NOTEBOOK_RELATIVE_PATH = Path("notebooks/data/processed/0001_kodate/0005_targetyear_geo_features/preview.ipynb")
try:
    NOTEBOOK_PATH = Path(__file__).resolve()
except NameError:  # running interactively
    NOTEBOOK_PATH = (Path.cwd() / NOTEBOOK_RELATIVE_PATH).resolve()


def resolve_project_root(notebook_path: Path) -> Path:
    for candidate in notebook_path.parents:
        if (candidate / "data").exists() and (candidate / "src").exists():
            return candidate
    return notebook_path.parents[-1]


PROJECT_ROOT = resolve_project_root(NOTEBOOK_PATH)
DATASETS = [
    (
        "train",
        PROJECT_ROOT / "data" / "processed" / "0001_kodate" / "0005_targetyear_geo_features" / "train.parquet",
    ),
    (
        "test",
        PROJECT_ROOT / "data" / "processed" / "0001_kodate" / "0005_targetyear_geo_features" / "test.parquet",
    ),
]
HEAD_ROWS = 20
COLUMN_OVERVIEW_SAMPLE_SIZE = 5
COLUMN_OVERVIEW_CHUNK_SIZE = 200
COLUMN_OVERVIEW_RANDOM_SEED = 314159


def build_column_overview(
    df: pd.DataFrame,
    *,
    sample_size: int = COLUMN_OVERVIEW_SAMPLE_SIZE,
    random_state: int | None = COLUMN_OVERVIEW_RANDOM_SEED,
) -> pd.DataFrame:
    row_count = len(df)
    overview_records: list[dict[str, object]] = []
    sample_columns = [f"random_sample_{i + 1}" for i in range(sample_size)]
    for idx, column in enumerate(df.columns):
        series = df[column]
        not_null_count = int(series.notna().sum())
        not_null_rate = (not_null_count / row_count * 100) if row_count else 0.0
        min_value = series.min(skipna=True)
        max_value = series.max(skipna=True)
        non_null = series.dropna()
        sample_n = min(sample_size, len(non_null))
        samples_list: list[object] = []
        if sample_n > 0:
            seed = None if random_state is None else random_state + idx
            samples_list = non_null.sample(n=sample_n, random_state=seed, replace=False).tolist()
        record: dict[str, object] = {
            "column_name": column,
            "row_count": row_count,
            "not_null_count": not_null_count,
            "not_null_rate_pct": round(not_null_rate, 2),
            "min": min_value,
            "max": max_value,
        }
        for sample_idx, col_name in enumerate(sample_columns):
            record[col_name] = samples_list[sample_idx] if sample_idx < len(samples_list) else pd.NA
        overview_records.append(record)
    return pd.DataFrame(overview_records)


def display_column_overview(
    df: pd.DataFrame | None,
    label: str,
    *,
    sample_size: int = COLUMN_OVERVIEW_SAMPLE_SIZE,
    chunk_size: int = COLUMN_OVERVIEW_CHUNK_SIZE,
    random_state: int | None = COLUMN_OVERVIEW_RANDOM_SEED,
) -> None:
    print(f"\n--- {label}: カラムサマリー ---")
    if df is None:
        print("⚠️ DataFrame が None のためサマリーを表示できません。")
        return
    if df.shape[1] == 0:
        print("(列が存在しません)")
        return
    overview = build_column_overview(
        df=df,
        sample_size=sample_size,
        random_state=random_state,
    )
    if overview.empty:
        print("(列が存在しません)")
        return
    total_cols = overview.shape[0]
    print(f"{total_cols} columns")
    for start in range(0, total_cols, chunk_size):
        end = min(start + chunk_size, total_cols)
        print(f"columns {start + 1}-{end} / {total_cols}")
        display(overview.iloc[start:end])


def inspect_dataset(label: str, path: Path, head_rows: int = HEAD_ROWS) -> None:
    if not path.exists():
        print(f"⚠️ Missing file: {path}")
        return
    df = pd.read_parquet(path)
    print(f"\n=== {label} ===")
    print(f"path: {path.relative_to(PROJECT_ROOT)}")
    print(f"shape: {df.shape[0]} rows x {df.shape[1]} cols")
    dtype_info = df.dtypes.astype(str)
    print("dtypes (first 20 columns):")
    print(dtype_info.head(20))
    if len(dtype_info) > 20:
        print("... (truncated)")
    sample = df.head(head_rows)
    display(sample.T)
    display_column_overview(df, label=f"{label} dataset")

In [2]:
for label, path in DATASETS:
    inspect_dataset(label, path)

=== train ===
path: data/processed/0001_kodate/0005_targetyear_geo_features/train.parquet
shape: 165310 rows x 51 cols
dtypes (first 20 columns):
data_id                         int64
money_room                      int64
building_structure            float64
total_floor_area              float64
floor_count                   float64
year_built                    float64
years_old                     float64
building_land_area            float64
land_area_all                 float64
building_land_chimoku         float64
land_youto                    float64
land_toshi                    float64
land_chisei                   float64
land_kenpei                   float64
land_youseki                  float64
land_road_cond                float64
balcony_area                  float64
dwelling_unit_window_angle    float64
room_count                    float64
unit_area                     float64
dtype: object
... (truncated)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
data_id,0,1,2,3,5,6,7,8,9,10,11,13,14,15,18,19,20,21,22,23
money_room,13980000,24480000,24480000,16300000,9000000,9900000,5400000,14500000,11680000,14800000,22800000,16000000,16800000,16500000,32000000,16000000,18800000,18000000,12980000,17800000
building_structure,1.0,10.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0
total_floor_area,106.82,NaN,NaN,106.809998,78.739998,74.519997,NaN,74.519997,70.160004,NaN,78.0,144.899994,112.620003,105.160004,112.629997,NaN,NaN,138.919998,94.400002,139.110001
floor_count,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,3.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0
year_built,199204.0,198108.0,199506.0,200203.0,196605.0,199010.0,NaN,201605.0,198603.0,NaN,201006.0,200102.0,200706.0,198812.0,200812.0,201201.0,NaN,197604.0,198907.0,200302.0
years_old,26.75154,37.418207,23.586585,16.837782,52.670773,28.251882,NaN,2.669405,32.837782,NaN,8.5859,17.913758,11.586585,30.083504,10.083504,7.000684,NaN,42.75154,29.50308,15.915127
building_land_area,188.490005,290.519989,235.649994,169.729996,105.779999,97.190002,NaN,99.370003,112.510002,NaN,165.0,170.309998,141.259995,199.679993,176.600006,124.389999,NaN,253.119995,186.059998,509.089996
land_area_all,188.490005,NaN,NaN,NaN,105.779999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,141.259995,NaN,NaN,NaN,NaN,NaN,186.059998,509.089996
building_land_chimoku,1.0,NaN,NaN,1.0,1.0,1.0,NaN,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0
land_youto,1.0,1.0,1.0,12.0,11.0,4.0,NaN,11.0,11.0,NaN,99.0,1.0,11.0,11.0,99.0,12.0,NaN,99.0,99.0,99.0
land_toshi,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,NaN,2.0,1.0,1.0,1.0,2.0,1.0,NaN,2.0,3.0,3.0
land_chisei,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
land_kenpei,50.0,50.0,50.0,60.0,60.0,80.0,NaN,60.0,60.0,NaN,60.0,60.0,60.0,60.0,60.0,60.0,NaN,70.0,70.0,60.0
land_youseki,80.0,80.0,80.0,200.0,150.0,200.0,NaN,150.0,150.0,NaN,200.0,100.0,150.0,150.0,200.0,100.0,NaN,200.0,200.0,200.0
land_road_cond,NaN,1.0,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0
balcony_area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dwelling_unit_window_angle,NaN,5.0,5.0,5.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,4.0,NaN,2.0,NaN,NaN
room_count,4.0,4.0,4.0,2.0,4.0,3.0,NaN,4.0,4.0,NaN,2.0,6.0,4.0,5.0,4.0,4.0,NaN,6.0,4.0,3.0
unit_area,106.82,134.039993,114.589996,106.809998,78.739998,74.519997,NaN,74.519997,70.160004,NaN,78.0,144.899994,112.620003,105.160004,112.629997,117.989998,NaN,138.919998,94.400002,139.110001
floor_plan_code,450.0,450.0,450.0,250.0,430.0,350.0,NaN,430.0,450.0,NaN,250.0,650.0,450.0,530.0,450.0,450.0,NaN,630.0,450.0,350.0
flg_investment,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0
post1,511.0,511.0,511.0,478.0,478.0,478.0,511.0,478.0,478.0,478.0,478.0,478.0,478.0,478.0,478.0,478.0,478.0,521.0,521.0,521.0
post_all,511-0932,511-0902,511-0902,478-0001,478-0001,478-0001,511-1127,478-0001,478-0001,478-0001,478-0001,478-0052,478-0014,478-0014,478-0042,478-0065,478-0028,521-0003,521-0232,521-0314
addr1_1,24,24,24,23,23,23,24,23,23,23,23,23,23,23,23,23,23,25,25,25
addr_all,24-205,24-205,24-205,23-224,23-224,23-224,24-205,23-224,23-224,23-224,23-224,23-224,23-224,23-224,23-224,23-224,23-224,25-214,25-214,25-214
rosen_name1,三岐鉄道北勢線,三岐鉄道北勢線,三岐鉄道北勢線,名鉄常滑線,名鉄河和線,名鉄常滑線,近鉄名古屋線,名鉄河和線,名鉄河和線,名鉄河和線,名鉄常滑線,名鉄常滑線,名鉄河和線,名鉄河和線,名鉄常滑線,名鉄常滑線,名鉄常滑線,JR東海道本線,JR北陸本線,JR東海道本線
eki_name1,在良,星川,蓮花寺,寺本,八幡新田,寺本,近鉄長島,巽ケ丘,巽ケ丘,巽ケ丘,寺本,朝倉,巽ケ丘,巽ケ丘,長浦,古見,長浦,米原,長浜,近江長岡
walk_distance1,1840.0,1920.0,2000.0,480.0,800.0,320.0,1200.0,640.0,640.0,720.0,480.0,640.0,960.0,880.0,240.0,1840.0,2320.0,1200.0,9120.0,3440.0
rosen_name2,<NA>,<NA>,<NA>,名鉄常滑線,名鉄河和線,名鉄常滑線,JR関西本線,名鉄河和線,名鉄河和線,名鉄河和線,名鉄常滑線,名鉄常滑線,名鉄河和線,名鉄河和線,名鉄常滑線,名鉄常滑線,名鉄常滑線,近江鉄道近江本線,<NA>,<NA>
eki_name2,<NA>,<NA>,<NA>,尾張横須賀,巽ケ丘,朝倉,長島,八幡新田,八幡新田,八幡新田,尾張横須賀,寺本,八幡新田,白沢,古見,朝倉,古見,米原,<NA>,<NA>
walk_distance2,NaN,NaN,NaN,1600.0,1760.0,1280.0,1280.0,1120.0,1440.0,1440.0,1760.0,1440.0,1680.0,1440.0,1520.0,2400.0,2560.0,1200.0,NaN,NaN
house_area,106.82,134.04,114.59,106.81,78.74,74.52,93.56,74.52,70.16,94.68,78.0,144.9,112.62,105.16,112.63,117.99,102.68,138.92,94.4,139.11
madori_number_all,4,4,4,3,4,3,5,4,4,3,2,6,4,5,4,4,4,6,4,3
madori_kind_all,50,50,50,50,30,50,30,30,50,50,50,50,50,30,50,55,55,30,50,55
genkyo_code,2.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,2.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0
usable_status,1,1,1,2,2,2,2,2,1,2,2,2,2,2,1,2,2,2,1,1
school_ele_name,桑部小学校,大山田南小学校,大山田南小学校,八幡小学校,知多市立新田小学校,<NA>,長島中部小学校,新田小学校,新田小学校,<NA>,八幡小学校,八幡小学校,知多市立新田小学校,新田小学校,旭北小学校,<NA>,<NA>,米原小学校,米原市立大原小学校,春照小学校
school_ele_distance,2000.0,350.0,850.0,1400.0,800.0,NaN,1400.0,500.0,600.0,NaN,720.0,650.0,960.0,600.0,2700.0,NaN,NaN,528.0,2700.0,1200.0
convenience_distance,NaN,NaN,NaN,NaN,877.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1350.0,NaN,NaN,230.0,NaN,858.0,NaN,NaN
super_distance,NaN,NaN,NaN,NaN,1830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,930.0,NaN,NaN,480.0,NaN,900.0,NaN,NaN
koji_price,41600.0,62900.0,62900.0,72300.0,64300.0,63000.0,39300.0,72800.0,72800.0,72800.0,93000.0,101000.0,72800.0,72800.0,26000.0,109000.0,53100.0,55300.0,24100.0,14700.0
koji_usage_code,1低専,1低専,1低専,1中専,1中専,1住居,1中専,1中専,1中専,1中専,準住居,近商,1中専,1中専,工専,1中専,準工,<NA>,<NA>,近商
koji_distance_km,0.565875,0.282599,0.67284,0.398847,0.169863,0.156262,0.685526,0.579861,0.333885,0.295764,0.301875,0.421793,0.029998,0.041768,0.865146,0.492406,0.402861,0.086198,1.853755,0.427408
land_price,40100.0,52700.0,52700.0,121000.0,71500.0,103000.0,43600.0,68300.0,68300.0,68300.0,103000.0,103000.0,68300.0,68300.0,69500.0,83000.0,83000.0,68700.0,28300.0,24100.0
land_usage_code,1中専,1中専,1中専,商業,1低専,1低専,1低専,1中専,1中専,1中専,1低専,1低専,1中専,1中専,1中専,1低専,1低専,1住居,<NA>,1中専
land_distance_km,2.085857,1.576879,1.866285,1.180871,0.749957,1.002254,0.661766,0.231107,0.347599,0.398604,1.301294,0.506154,0.672606,0.714958,0.542601,0.983211,1.610335,0.480185,0.016854,0.232071
mesh_population_2025,3682.9554,3054.8402,3054.8402,4594.915,3554.5238,869.4974,1620.7779,4580.3431,4814.8464,4814.8464,2782.5418,8726.9877,4814.8464,4814.8464,1630.4829,6907.0917,2585.7646,1948.1817,886.9833,517.3886
mesh_population_2035,3638.1363,2985.6286,2985.6286,4510.4234,3381.6847,834.9253,1478.301,4387.0352,4597.3614,4597.3614,2750.5292,8275.6335,4597.3614,4597.3614,1419.9893,6883.7572,2531.4583,1879.0298,855.4872,463.3412
mesh_population_2045,3429.8858,2878.4524,2878.4524,4325.702,3154.1957,794.8922,1326.2375,4129.9772,4321.1194,4321.1194,2676.1248,7660.0349,4321.1194,4321.1194,1283.4602,6729.2419,2467.4996,1755.7996,787.42,405.8609
mesh_population_2055,3102.9278,2723.2881,2723.2881,4085.6396,2921.3776,760.967,1181.5224,3876.4705,4012.5919,4012.5919,2555.0828,7043.686,4012.5919,4012.5919,1183.8843,6467.9783,2380.4991,1582.3166,691.4669,350.6048

--- train dataset: カラムサマリー ---
51 columns
columns 1-51 / 51

,column_name,row_count,not_null_count,not_null_rate_pct,min,max,random_sample_1,random_sample_2,random_sample_3,random_sample_4,random_sample_5
0,data_id,165310,165310,100.00,0,363922,214247,287780,81813,212193,309576
1,money_room,165310,165310,100.00,4900000,188000000,16800000,18500000,8800000,23800000,6800000
2,building_structure,165310,153323,92.75,0.0,12.0,1.0,1.0,1.0,1.0,1.0
3,total_floor_area,165310,87685,53.04,1.0,9108.0,119.220001,115.290001,101.779999,228.369995,92.339996
4,floor_count,165310,164026,99.22,0.0,980.0,2.0,2.0,2.0,2.0,2.0
5,year_built,165310,154099,93.22,150001.0,203407.0,201207.0,199901.0,198611.0,201908.0,201406.0
6,years_old,165310,154095,93.22,-13.998631,220.492813,13.409993,29.50308,31.835729,25.409993,44.084873
7,building_land_area,165310,153256,92.71,0.0,219025.0,181.990005,221.490005,78.699997,183.919998,187.429993
8,land_area_all,165310,40907,24.75,0.0,26450.0,140.380005,48.860001,105.050003,200.389999,185.039993
9,building_land_chimoku,165310,148627,89.91,0.0,11.0,1.0,1.0,1.0,1.0,1.0
10,land_youto,165310,148248,89.68,1.0,99.0,13.0,12.0,99.0,6.0,10.0
11,land_toshi,165310,147588,89.28,0.0,4.0,3.0,1.0,1.0,1.0,1.0
12,land_chisei,165310,82462,49.88,0.0,9.0,1.0,1.0,1.0,1.0,1.0
13,land_kenpei,165310,150690,91.16,0.0,7020.0,80.0,40.0,60.0,70.0,60.0
14,land_youseki,165310,150662,91.14,0.0,8080.0,200.0,100.0,100.0,200.0,200.0
15,land_road_cond,165310,128989,78.03,0.0,10.0,1.0,10.0,1.0,1.0,2.0
16,balcony_area,165310,12694,7.68,0.0,354.890015,0.0,0.0,0.0,0.0,0.0
17,dwelling_unit_window_angle,165310,82272,49.77,0.0,8.0,5.0,8.0,5.0,5.0,5.0
18,room_count,165310,153150,92.64,1.0,50.0,3.0,6.0,3.0,3.0,4.0
19,unit_area,165310,153152,92.65,3.0,19387.0,66.110001,61.68,113.440002,123.0,114.269997
20,floor_plan_code,165310,153150,92.64,110.0,5030.0,450.0,450.0,530.0,350.0,450.0
21,flg_investment,165310,76397,46.21,0.0,1.0,0.0,0.0,0.0,0.0,0.0
22,post1,165310,161617,97.77,0.0,992.0,431.0,640.0,651.0,986.0,252.0
23,post_all,165310,161616,97.77,000-0000,992-1452,276-0036,132-0025,870-1176,418-0022,185-0004
24,addr1_1,165310,165310,100.00,1,47,14,28,20,12,28
25,addr_all,165310,165310,100.00,01-101,47-326,14-116,12-230,12-207,08-203,28-202
26,rosen_name1,165310,158988,96.18,IRいしかわ鉄道,鹿島臨海鉄道大洗鹿島線,つくばエクスプレス,東急田園都市線,JR山陰本線,近鉄大阪線,JR高崎線
27,eki_name1,165310,158645,95.97,JR三山木,＊＊＊＊,鵯越,住道,防府,大谷地,香里園
28,walk_distance1,165310,158990,96.18,1.0,99999.0,560.0,7200.0,160.0,480.0,1520.0
29,rosen_name2,165310,76899,46.52,IRいしかわ鉄道,鹿島臨海鉄道大洗鹿島線,JR外房線,JR五日市線,相鉄本線,JR中央線,東京メトロ有楽町線
30,eki_name2,165310,76868,46.50,JA広島病院前,＊＊＊＊,横須賀中央,矢賀,津久野,東武宇都宮,津久野
31,walk_distance2,165310,76907,46.52,1.0,64960.0,1120.0,2960.0,800.0,4000.0,560.0
32,house_area,165310,165310,100.00,1.0,199199.0,99.93,84.64,117.58,144.78,83.42
33,madori_number_all,165310,165310,100.00,1,63,4,4,8,4,4
34,madori_kind_all,165310,165310,100.00,10,99,30,30,30,50,50
35,genkyo_code,165310,160977,97.38,0.0,4.0,1.0,2.0,2.0,2.0,1.0
36,usable_status,165310,165310,100.00,1,3,2,2,1,1,1
37,school_ele_name,165310,125805,76.10,富里市立根木名小学校,龍野小学校,藤沢市立 片瀬小学校,伊賀市立大山田小学校,八街市立八街東小学校,さくら小学校,福岡市立青葉小学校
38,school_ele_distance,165310,125425,75.87,0.0,9999.0,794.0,160.0,632.0,300.0,450.0
39,convenience_distance,165310,81337,49.20,0.0,9882.0,600.0,80.0,290.0,530.0,230.0
40,super_distance,165310,88811,53.72,0.0,9974.0,2810.0,728.0,1417.0,900.0,500.0
41,koji_price,165310,161585,97.75,600.0,5650000.0,16900.0,31900.0,124000.0,26400.0,44600.0
42,koji_usage_code,165310,151448,91.61,1中専,近商,1低専,商業,1住居,1低専,準工
43,koji_distance_km,165310,161585,97.75,0.000027,2.999556,1.03356,0.269327,0.159424,0.402399,1.052137
44,land_price,165310,163670,99.01,1590.0,6850000.0,18700.0,132000.0,74000.0,41500.0,570000.0
45,land_usage_code,165310,148157,89.62,1中専,近商,2中専,1住居,1低専,準住居,1低専
46,land_distance_km,165310,163670,99.01,0.000121,2.99963,0.738875,0.506937,1.009907,0.51389,0.214497
47,mesh_population_2025,165310,165291,99.99,0.0,33642.3438,605.3577,3939.092,9105.0155,5515.5901,2297.657
48,mesh_population_2035,165310,165291,99.99,0.0,35614.0103,1109.7597,3103.239,2211.5076,23893.2906,7020.1173
49,mesh_population_2045,165310,165291,99.99,0.0,37207.3593,5547.0788,3957.8034,17208.7697,4992.9477,2541.2345
50,mesh_population_2055,165310,165291,99.99,0.0,37370.2454,181.7719,11179.2827,3728.0278,5886.0661,3453.6108

=== test ===
path: data/processed/0001_kodate/0005_targetyear_geo_features/test.parquet
shape: 52892 rows x 50 cols
dtypes (first 20 columns):
data_id                        string
building_structure            float64
total_floor_area              float64
floor_count                   float64
year_built                    float64
years_old                     float64
building_land_area            float64
land_area_all                 float64
building_land_chimoku         float64
land_youto                    float64
land_toshi                    float64
land_chisei                   float64
land_kenpei                   float64
land_youseki                  float64
land_road_cond                float64
balcony_area                  float64
dwelling_unit_window_angle    float64
room_count                    float64
unit_area                     float64
floor_plan_code               float64
dtype: object
... (truncated)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
data_id,1,2,3,4,5,6,8,9,10,11,12,13,14,15,16,19,20,21,22,23
building_structure,1.0,10.0,1.0,1.0,1.0,1.0,NaN,10.0,1.0,1.0,1.0,NaN,1.0,1.0,NaN,1.0,1.0,1.0,1.0,9.0
total_floor_area,171.820007,92.129997,NaN,105.980003,146.559998,NaN,NaN,NaN,100.190002,100.589996,138.919998,NaN,NaN,NaN,NaN,171.5,116.75,80.519997,NaN,116.860001
floor_count,2.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,2.0,1.0,2.0,2.0
year_built,199206.0,197511.0,201603.0,199411.0,200310.0,195701.0,NaN,200405.0,199509.0,198904.0,197604.0,NaN,198811.0,202307.0,NaN,201212.0,199107.0,198101.0,199908.0,197410.0
years_old,30.584531,47.167693,6.836413,28.167009,19.252567,65.998631,NaN,18.669405,27.334702,33.752225,46.75154,NaN,34.16564,-0.495551,NaN,10.083504,31.504449,41.998631,23.419576,48.251882
building_land_area,197.529999,223.309998,100.589996,150.990005,344.440002,636.940002,NaN,177.729996,140.0,110.290001,253.119995,NaN,203.279999,129.740005,NaN,205.130005,206.529999,276.940002,174.470001,202.830002
land_area_all,197.529999,223.309998,NaN,150.990005,344.440002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,276.940002,NaN,202.830002
building_land_chimoku,1.0,1.0,5.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0
land_youto,1.0,1.0,3.0,1.0,1.0,99.0,NaN,11.0,11.0,11.0,99.0,NaN,99.0,12.0,NaN,99.0,99.0,14.0,12.0,6.0
land_toshi,NaN,1.0,1.0,1.0,1.0,2.0,NaN,1.0,1.0,1.0,2.0,NaN,3.0,1.0,NaN,3.0,3.0,3.0,1.0,1.0
land_chisei,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,1.0,1.0,NaN,NaN
land_kenpei,60.0,60.0,70.0,50.0,50.0,60.0,NaN,60.0,60.0,60.0,70.0,NaN,70.0,60.0,NaN,70.0,70.0,70.0,60.0,60.0
land_youseki,100.0,100.0,200.0,80.0,80.0,200.0,NaN,150.0,150.0,150.0,200.0,NaN,200.0,200.0,NaN,200.0,200.0,200.0,200.0,200.0
land_road_cond,1.0,1.0,2.0,1.0,2.0,1.0,NaN,1.0,1.0,NaN,1.0,NaN,1.0,1.0,NaN,1.0,1.0,2.0,2.0,1.0
balcony_area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
dwelling_unit_window_angle,NaN,5.0,4.0,NaN,5.0,5.0,NaN,NaN,NaN,NaN,2.0,NaN,5.0,NaN,NaN,5.0,5.0,NaN,NaN,NaN
room_count,6.0,3.0,4.0,4.0,3.0,5.0,NaN,3.0,5.0,4.0,6.0,NaN,4.0,3.0,NaN,4.0,5.0,2.0,4.0,5.0
unit_area,171.820007,92.129997,93.139999,105.980003,146.559998,61.979999,NaN,100.449997,100.190002,100.589996,138.919998,NaN,101.519997,106.089996,NaN,171.5,116.75,80.519997,130.869995,116.860001
floor_plan_code,650.0,350.0,450.0,450.0,350.0,550.0,NaN,350.0,530.0,450.0,630.0,NaN,450.0,350.0,NaN,450.0,550.0,250.0,450.0,550.0
flg_investment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,NaN
post1,511.0,478.0,478.0,511.0,511.0,511.0,478.0,478.0,478.0,478.0,521.0,521.0,521.0,819.0,521.0,521.0,521.0,521.0,521.0,819.0
post_all,511-0814,478-0024,478-0001,511-0935,511-0863,511-1121,478-0001,478-0052,478-0012,478-0012,521-0003,521-0202,521-0232,819-1105,521-0306,521-0233,521-0233,521-0022,521-0062,819-1121
addr1_1,24,23,23,24,24,24,23,23,23,23,25,25,25,40,25,25,25,25,25,40
addr_all,24-205,23-224,23-224,24-205,24-205,24-205,23-224,23-224,23-224,23-224,25-214,25-214,25-214,40-230,25-214,25-214,25-214,25-214,25-214,40-230
rosen_name1,三岐鉄道北勢線,名鉄常滑線,名鉄常滑線,三岐鉄道北勢線,三岐鉄道北勢線,近鉄名古屋線,名鉄河和線,名鉄常滑線,名鉄河和線,名鉄河和線,JR東海道・山陽本線,JR東海道本線,JR東海道本線,JR筑肥線,JR東海道・山陽本線,JR東海道本線,JR東海道本線,JR東海道本線,JR北陸本線,JR筑肥線
eki_name1,馬道,大野町,寺本,星川,西別所,近鉄長島,八幡新田,朝倉,巽ケ丘,巽ケ丘,米原,柏原,近江長岡,波多江,近江長岡,近江長岡,近江長岡,醒ケ井,坂田,美咲が丘
walk_distance1,880.0,2800.0,640.0,2160.0,2000.0,1520.0,1680.0,1440.0,700.0,480.0,1200.0,640.0,5600.0,800.0,11440.0,4320.0,4480.0,2800.0,1360.0,560.0
rosen_name2,<NA>,<NA>,<NA>,三岐鉄道北勢線,<NA>,<NA>,名鉄河和線,名鉄常滑線,<NA>,名鉄河和線,近江鉄道近江本線,JR東海道本線,<NA>,JR筑肥線,<NA>,<NA>,<NA>,<NA>,JR北陸本線,JR筑肥線
eki_name2,<NA>,<NA>,<NA>,七和,<NA>,<NA>,南加木屋,寺本,<NA>,八幡新田,フジテック前,近江長岡,<NA>,糸島高校前,<NA>,<NA>,<NA>,<NA>,田村,加布里
walk_distance2,NaN,NaN,NaN,2400.0,NaN,NaN,1760.0,1520.0,NaN,1200.0,2400.0,240.0,NaN,880.0,NaN,NaN,NaN,NaN,2240.0,1120.0
house_area,171,78,93,105,146,61,162,100,100,100,138,160,101,59,283,171,116,80,130,116
madori_number_all,6,3,4,4,4,5,4,3,5,4,6,6,4,3,8,4,5,2,4,5
madori_kind_all,50,50,50,50,50,55,50,50,30,50,30,50,50,30,55,50,50,50,55,55
genkyo_code,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
usable_status,2,3,1,2,2,2,2,2,2,2,2,2,3,2,2,2,2,3,2,2
school_ele_name,桑名市立大成小学校,知多市立南粕谷小学校,知多市立八幡小学校,桑名市立久米小学校,桑名市立藤が丘小学校,<NA>,知多市立新田小学校,知多市立八幡小学校,小学校,知多市立新田小学校,米原小学校,米原市立柏原小学校,米原市立大原小学校,東風小学校,伊吹小学校,大原小学校,大原小学校,河南小学校,米原市立坂田小学校,糸島市立南風小学校
school_ele_distance,1030.0,750.0,1400.0,1581.0,1328.0,NaN,1508.0,680.0,850.0,628.0,528.0,500.0,2000.0,600.0,4500.0,587.0,865.0,2800.0,450.0,1535.0
convenience_distance,NaN,650.0,460.0,522.0,NaN,NaN,963.0,NaN,NaN,657.0,858.0,NaN,NaN,NaN,NaN,922.0,895.0,400.0,NaN,815.0
super_distance,NaN,300.0,1460.0,202.0,NaN,1640.0,1492.0,1180.0,NaN,540.0,900.0,NaN,NaN,NaN,NaN,1549.0,1550.0,4000.0,NaN,620.0
koji_price,88000.0,56100.0,71900.0,41600.0,67400.0,36100.0,64000.0,100000.0,72900.0,72900.0,55000.0,17600.0,23000.0,98000.0,<NA>,23000.0,23000.0,39600.0,16000.0,48800.0
koji_usage_code,1低専,1低専,1中専,1低専,1低専,1中専,1中専,近商,1中専,1中専,<NA>,近商,<NA>,1低専,<NA>,<NA>,<NA>,1住居,<NA>,1住居
koji_distance_km,0.217077,0.109159,0.321384,0.396144,0.128275,1.0296,0.644672,0.280919,0.26669,0.489273,0.08621,0.275938,1.938097,0.857521,<NA>,0.598062,0.790008,2.726407,0.639695,0.390242
land_price,95500.0,34800.0,135000.0,52700.0,95500.0,44200.0,72400.0,108000.0,94500.0,83200.0,69000.0,20200.0,25400.0,74700.0,5200.0,18100.0,25400.0,12900.0,58600.0,56000.0
land_usage_code,1低専,<NA>,商業,1中専,1低専,近商,1低専,1低専,近商,近商,1住居,1中専,<NA>,1住居,<NA>,<NA>,<NA>,1中専,1住居,1低専
land_distance_km,0.026646,1.32422,1.015201,1.921084,1.594444,0.93768,0.137571,0.669629,0.463518,0.26367,0.480184,0.349271,0.096391,0.523894,0.295575,1.070797,1.100814,0.592004,0.299154,0.861792
mesh_population_2025,3444.6715,3465.9083,4594.915,1950.2567,4052.8434,1598.1301,150.2899,8726.9877,4814.8464,4580.3431,1948.1817,848.0171,886.9833,7155.2983,149.3747,979.6045,979.6045,739.7239,1500.3409,3301.6502
mesh_population_2035,3235.3916,2912.5785,4510.4234,1846.3354,4076.9501,1510.0884,128.9409,8275.6335,4597.3614,4387.0352,1879.0298,740.8564,855.4872,7240.5861,122.4596,868.7637,868.7637,627.7874,1436.7489,3079.7543
mesh_population_2045,3041.352,2451.729,4325.702,1699.1221,4037.7735,1404.5049,107.8596,7660.0349,4321.1194,4129.9772,1755.7996,638.8948,787.42,7128.8639,100.3472,813.3867,813.3867,523.4951,1349.274,2794.5449
mesh_population_2055,2822.9217,2174.2312,4085.6396,1539.4938,3840.011,1285.2264,96.0618,7043.686,4012.5919,3876.4705,1582.3166,542.3827,691.4669,6985.2512,81.3228,736.0981,736.0981,432.8614,1241.816,2547.9952

--- test dataset: カラムサマリー ---
50 columns
columns 1-50 / 50

,column_name,row_count,not_null_count,not_null_rate_pct,min,max,random_sample_1,random_sample_2,random_sample_3,random_sample_4,random_sample_5
0,data_id,52892,52892,100.00,1,99999,7987,93416,111517,18416,51128
1,building_structure,52892,48648,91.98,1.0,12.0,9.0,1.0,10.0,3.0,9.0
2,total_floor_area,52892,29349,55.49,11.92,984.960022,131.470001,93.959999,117.660004,99.660004,90.720001
3,floor_count,52892,52533,99.32,0.0,62.0,2.0,1.0,2.0,2.0,1.0
4,year_built,52892,48841,92.34,186801.0,220211.0,197112.0,201806.0,197401.0,200007.0,197303.0
5,years_old,52892,48841,92.34,-179.827515,155.493498,27.164956,16.334018,1.494867,20.580424,48.5859
6,building_land_area,52892,48381,91.47,1.0,166074.0,147.910004,159.660004,57.729999,178.720001,110.120003
7,land_area_all,52892,11998,22.68,19.4,33076.9883,108.769997,205.259995,89.07,201.710007,72.120003
8,building_land_chimoku,52892,47208,89.25,1.0,11.0,1.0,1.0,1.0,1.0,1.0
9,land_youto,52892,47081,89.01,1.0,99.0,11.0,1.0,5.0,11.0,12.0
10,land_toshi,52892,46907,88.68,0.0,4.0,1.0,2.0,1.0,3.0,2.0
11,land_chisei,52892,25821,48.82,0.0,9.0,1.0,1.0,1.0,1.0,1.0
12,land_kenpei,52892,47545,89.89,0.0,7020.0,60.0,60.0,60.0,60.0,60.0
13,land_youseki,52892,47532,89.87,0.0,8080.0,200.0,80.0,200.0,200.0,200.0
14,land_road_cond,52892,41894,79.21,0.0,10.0,1.0,1.0,2.0,1.0,1.0
15,balcony_area,52892,4445,8.40,0.0,96.400002,10.0,2.48,0.0,8.45,0.0
16,dwelling_unit_window_angle,52892,27848,52.65,0.0,8.0,5.0,5.0,3.0,5.0,5.0
17,room_count,52892,48700,92.07,1.0,77.0,3.0,3.0,4.0,3.0,5.0
18,unit_area,52892,48700,92.07,10.57,143028.0,100.599998,124.470001,76.540001,99.779999,70.199997
19,floor_plan_code,52892,48700,92.07,110.0,7730.0,450.0,250.0,550.0,1050.0,550.0
20,flg_investment,52892,25800,48.78,0.0,1.0,0.0,0.0,0.0,0.0,0.0
21,post1,52892,52040,98.39,0.0,992.0,59.0,338.0,270.0,306.0,702.0
22,post_all,52892,52040,98.39,000-0000,992-1443,747-0835,960-8057,257-0003,272-0831,535-0011
23,addr1_1,52892,52892,100.00,1,47,40,22,27,13,16
24,addr_all,52892,52892,100.00,01-101,47-326,27-142,27-227,23-104,27-225,29-202
25,rosen_name1,52892,50979,96.38,IRいしかわ鉄道,鹿島臨海鉄道大洗鹿島線,JR横浜線,Osaka Metro谷町線,静岡鉄道静岡清水線,阪急京都本線,東武東上線
26,eki_name1,52892,50859,96.16,JR三山木,＊＊＊＊,見沼代親水公園,川西能勢口,高根公団,日向住吉,武蔵境
27,walk_distance1,52892,50981,96.39,1.0,99999.0,640.0,1520.0,320.0,2500.0,1600.0
28,rosen_name2,52892,28613,54.10,IRいしかわ鉄道,鹿島臨海鉄道大洗鹿島線,相鉄本線,JR高崎線,南海線,JR東海道新幹線,京王井の頭線
29,eki_name2,52892,28608,54.09,JR三山木,＊＊＊＊,味美,取手,駒川中野,雪が谷大塚,東所沢
30,walk_distance2,52892,28616,54.10,1.0,99999.0,80.0,2080.0,2400.0,1920.0,1680.0
31,house_area,52892,52892,100.00,10,12105,85,93,84,112,80
32,madori_number_all,52892,52892,100.00,1,44,8,4,4,4,4
33,madori_kind_all,52892,52892,100.00,10,55,20,50,50,55,55
34,genkyo_code,52892,51902,98.13,1.0,4.0,2.0,2.0,2.0,1.0,2.0
35,usable_status,52892,52892,100.00,1,3,1,1,2,2,1
36,school_ele_name,52892,42815,80.95,京都市立上高野小学校,？野小学校,寝屋川市立第五小学校,堺市立平尾小学校,京都市立凌風（凌風学園）小学校,姫路市立青山小学校,枚方市立殿山第一小学校
37,school_ele_distance,52892,42887,81.08,0.0,9999.0,812.0,1260.0,600.0,1200.0,1256.0
38,convenience_distance,52892,28369,53.64,0.0,9014.0,300.0,500.0,294.0,530.0,50.0
39,super_distance,52892,29859,56.45,0.0,9999.0,350.0,584.0,440.0,749.0,500.0
40,koji_price,52892,51891,98.11,810.0,3450000.0,27700.0,137000.0,104000.0,59900.0,706000.0
41,koji_usage_code,52892,48825,92.31,1中専,近商,1住居,1低専,1住居,1中専,工業
42,koji_distance_km,52892,51891,98.11,0.000042,2.999917,0.612731,1.54119,1.093027,0.218827,0.407997
43,land_price,52892,52472,99.21,2350.0,10000000.0,59400.0,110000.0,221000.0,24600.0,19300.0
44,land_usage_code,52892,47969,90.69,1中専,近商,1中専,工業,1低専,1低専,1低専
45,land_distance_km,52892,52472,99.21,0.000314,2.99781,0.353799,0.682265,0.437591,0.599404,1.277173
46,mesh_population_2025,52892,52890,100.00,0.0,33642.3438,8712.4014,1275.6918,4633.0865,11783.7501,10120.8095
47,mesh_population_2035,52892,52890,100.00,0.0,35614.0103,14682.1132,4558.0916,11410.3661,10336.9742,4832.3408
48,mesh_population_2045,52892,52890,100.00,0.0,37207.3593,8390.6079,7900.5988,819.2603,6262.8106,11808.4725
49,mesh_population_2055,52892,52890,100.00,0.0,37370.2454,11854.4753,8048.6224,2660.4087,2879.4489,3458.1972