# 0001_kodate / 0007_same_unit_id プレビュー

`data/processed/0001_kodate/0007_same_unit_id` の train/test Parquet をざっと検品するノートです。列構成とサンプル値を人間がすぐ確認できるようにしてあります。

In [ ]:
from pathlib import Path

import pandas as pd
from IPython.display import display

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 400)

NOTEBOOK_RELATIVE_PATH = Path("notebooks/data/processed/0001_kodate/0007_same_unit_id/preview.ipynb")
try:
    NOTEBOOK_PATH = Path(__file__).resolve()
except NameError:  # running interactively
    NOTEBOOK_PATH = (Path.cwd() / NOTEBOOK_RELATIVE_PATH).resolve()


def resolve_project_root(notebook_path: Path) -> Path:
    for candidate in notebook_path.parents:
        if (candidate / "data").exists() and (candidate / "src").exists():
            return candidate
    return notebook_path.parents[-1]


PROJECT_ROOT = resolve_project_root(NOTEBOOK_PATH)
DATASETS = [
    (
        "train",
        PROJECT_ROOT / "data" / "processed" / "0001_kodate" / "0007_same_unit_id" / "train.parquet",
    ),
    (
        "test",
        PROJECT_ROOT / "data" / "processed" / "0001_kodate" / "0007_same_unit_id" / "test.parquet",
    ),
]
HEAD_ROWS = 20
COLUMN_OVERVIEW_SAMPLE_SIZE = 5
COLUMN_OVERVIEW_CHUNK_SIZE = 200
COLUMN_OVERVIEW_RANDOM_SEED = 314159


def build_column_overview(
    df: pd.DataFrame,
    *,
    sample_size: int = COLUMN_OVERVIEW_SAMPLE_SIZE,
    random_state: int | None = COLUMN_OVERVIEW_RANDOM_SEED,
) -> pd.DataFrame:
    row_count = len(df)
    overview_records: list[dict[str, object]] = []
    sample_columns = [f"random_sample_{i + 1}" for i in range(sample_size)]
    for idx, column in enumerate(df.columns):
        series = df[column]
        not_null_count = int(series.notna().sum())
        not_null_rate = (not_null_count / row_count * 100) if row_count else 0.0
        min_value = series.min(skipna=True)
        max_value = series.max(skipna=True)
        non_null = series.dropna()
        sample_n = min(sample_size, len(non_null))
        samples_list: list[object] = []
        if sample_n > 0:
            seed = None if random_state is None else random_state + idx
            samples_list = non_null.sample(n=sample_n, random_state=seed, replace=False).tolist()
        record: dict[str, object] = {
            "column_name": column,
            "row_count": row_count,
            "not_null_count": not_null_count,
            "not_null_rate_pct": round(not_null_rate, 2),
            "min": min_value,
            "max": max_value,
        }
        for sample_idx, col_name in enumerate(sample_columns):
            record[col_name] = samples_list[sample_idx] if sample_idx < len(samples_list) else pd.NA
        overview_records.append(record)
    return pd.DataFrame(overview_records)


def display_column_overview(
    df: pd.DataFrame | None,
    label: str,
    *,
    sample_size: int = COLUMN_OVERVIEW_SAMPLE_SIZE,
    chunk_size: int = COLUMN_OVERVIEW_CHUNK_SIZE,
    random_state: int | None = COLUMN_OVERVIEW_RANDOM_SEED,
) -> None:
    print(f"\n--- {label}: カラムサマリー ---")
    if df is None:
        print("⚠️ DataFrame が None のためサマリーを表示できません。")
        return
    if df.shape[1] == 0:
        print("(列が存在しません)")
        return
    overview = build_column_overview(
        df=df,
        sample_size=sample_size,
        random_state=random_state,
    )
    if overview.empty:
        print("(列が存在しません)")
        return
    total_cols = overview.shape[0]
    print(f"{total_cols} columns")
    for start in range(0, total_cols, chunk_size):
        end = min(start + chunk_size, total_cols)
        print(f"columns {start + 1}-{end} / {total_cols}")
        display(overview.iloc[start:end])


def inspect_dataset(label: str, path: Path, head_rows: int = HEAD_ROWS) -> None:
    if not path.exists():
        print(f"⚠️ Missing file: {path}")
        return
    df = pd.read_parquet(path)
    print(f"\n=== {label} ===")
    print(f"path: {path.relative_to(PROJECT_ROOT)}")
    print(f"shape: {df.shape[0]} rows x {df.shape[1]} cols")
    dtype_info = df.dtypes.astype(str)
    print("dtypes (first 20 columns):")
    print(dtype_info.head(20))
    if len(dtype_info) > 20:
        print("... (truncated)")
    sample = df.head(head_rows)
    display(sample.T)
    display_column_overview(df, label=f"{label} dataset")

In [ ]:
for label, path in DATASETS:
    inspect_dataset(label, path)

=== train ===
path: data/processed/0001_kodate/0007_same_unit_id/train.parquet
shape: 59205 rows x 78 cols
dtypes (first 20 columns):
data_id                         int64
money_room                      int64
building_structure            float64
total_floor_area              float64
floor_count                   float64
year_built                    float64
years_old                     float64
building_land_area            float64
land_area_all                 float64
building_land_chimoku         float64
land_youto                    float64
land_toshi                    float64
land_chisei                   float64
land_kenpei                   float64
land_youseki                  float64
land_road_cond                float64
balcony_area                  float64
dwelling_unit_window_angle    float64
room_count                    float64
unit_area                     float64
dtype: object
... (truncated)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
data_id,36516,36521,36526,36531,36537,36540,36542,36544,36548,36549,36553,36555,36557,36586,36589,36591,36595,36596,36598,36599
money_room,23490000,15980000,16000000,32000000,16000000,18000000,11980000,79200000,30800000,19800000,9000000,5000000,10480000,34800000,12800000,7500000,26800000,15800000,14300000,22800000
building_structure,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
total_floor_area,NaN,74.519997,144.899994,112.629997,NaN,138.919998,92.0,NaN,138.0,NaN,NaN,NaN,81.790001,NaN,78.360001,66.919998,NaN,NaN,71.07,NaN
floor_count,2.0,2.0,3.0,2.0,2.0,2.0,2.0,4.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN
year_built,199506.0,199010.0,200102.0,200812.0,201201.0,197604.0,199607.0,200005.0,200406.0,200508.0,201601.0,197606.0,198410.0,200803.0,198908.0,198611.0,200612.0,200208.0,199001.0,197605.0
years_old,24.082136,28.747433,18.409309,10.579055,7.496235,43.247091,22.997947,19.164956,15.080082,13.913758,3.496235,43.080082,34.746064,11.331964,29.913758,32.66256,12.580424,16.914442,29.494867,43.164956
building_land_area,235.649994,97.190002,170.309998,176.600006,124.389999,253.119995,205.210007,666.690002,449.359985,234.699997,486.0,330.619995,151.949997,150.830002,86.379997,116.089996,120.089996,106.919998,133.220001,366.200012
land_area_all,NaN,NaN,NaN,NaN,NaN,NaN,205.210007,NaN,NaN,NaN,NaN,NaN,151.949997,NaN,NaN,NaN,NaN,NaN,NaN,NaN
building_land_chimoku,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
land_youto,1.0,4.0,1.0,99.0,12.0,99.0,99.0,12.0,99.0,99.0,99.0,6.0,12.0,1.0,1.0,10.0,99.0,1.0,1.0,1.0
land_toshi,1.0,1.0,1.0,2.0,1.0,2.0,3.0,1.0,4.0,NaN,4.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0
land_chisei,1.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,2.0,1.0
land_kenpei,50.0,80.0,60.0,60.0,60.0,70.0,70.0,60.0,30.0,30.0,60.0,60.0,60.0,50.0,40.0,50.0,40.0,40.0,40.0,40.0
land_youseki,80.0,200.0,100.0,200.0,100.0,200.0,200.0,200.0,70.0,70.0,200.0,200.0,200.0,80.0,80.0,100.0,80.0,80.0,80.0,80.0
land_road_cond,2.0,NaN,NaN,NaN,NaN,1.0,5.0,2.0,NaN,NaN,5.0,5.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,10.0
balcony_area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dwelling_unit_window_angle,5.0,NaN,NaN,NaN,4.0,2.0,5.0,3.0,NaN,8.0,NaN,5.0,5.0,5.0,NaN,NaN,NaN,5.0,5.0,5.0
room_count,4.0,3.0,6.0,4.0,4.0,6.0,3.0,7.0,4.0,3.0,2.0,4.0,4.0,3.0,4.0,4.0,4.0,3.0,3.0,6.0
unit_area,114.589996,74.519997,144.899994,112.629997,117.989998,138.919998,92.0,628.140015,138.0,91.040001,92.739998,88.32,81.790001,112.610001,78.360001,66.919998,94.769997,85.050003,71.07,119.379997
floor_plan_code,450.0,350.0,650.0,450.0,450.0,630.0,350.0,750.0,450.0,350.0,220.0,420.0,450.0,350.0,430.0,430.0,450.0,350.0,330.0,630.0
flg_investment,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN
post1,511.0,478.0,478.0,478.0,478.0,521.0,521.0,521.0,819.0,819.0,300.0,300.0,300.0,190.0,197.0,197.0,197.0,197.0,197.0,197.0
post_all,511-0902,478-0001,478-0052,478-0042,478-0065,521-0003,521-0322,521-0062,819-1574,819-1574,300-0213,300-0135,300-0121,190-0142,197-0826,197-0826,197-0802,197-0802,197-0802,197-0802
addr1_1,24,23,23,23,23,25,25,25,40,40,8,8,8,13,13,13,13,13,13,13
addr_all,24-205,23-224,23-224,23-224,23-224,25-214,25-214,25-214,40-230,40-230,08-230,08-230,08-230,13-228,13-228,13-228,13-228,13-228,13-228,13-228
rosen_name1,三岐鉄道北勢線,名鉄常滑線,名鉄常滑線,名鉄常滑線,名鉄常滑線,JR東海道本線,JR東海道本線,JR北陸本線,JR筑肥線,<NA>,JR常磐線,JR常磐線,JR常磐線,JR五日市線,JR五日市線,JR五日市線,JR青梅線,JR青梅線,JR青梅線,JR青梅線
eki_name1,蓮花寺,寺本,朝倉,長浦,古見,米原,近江長岡,坂田,周船寺,<NA>,神立,神立,神立,武蔵増戸,秋川,秋川,福生,福生,福生,福生
walk_distance1,2000.0,320.0,640.0,240.0,1840.0,1200.0,2800.0,960.0,480.0,NaN,10700.0,1600.0,1840.0,800.0,1760.0,2240.0,1440.0,160.0,320.0,400.0
rosen_name2,<NA>,名鉄常滑線,名鉄常滑線,名鉄常滑線,名鉄常滑線,近江鉄道近江本線,<NA>,JR東海道本線,<NA>,<NA>,<NA>,<NA>,<NA>,JR五日市線,<NA>,<NA>,<NA>,JR五日市線,JR五日市線,JR五日市線
eki_name2,<NA>,朝倉,寺本,古見,朝倉,米原,<NA>,米原,<NA>,<NA>,<NA>,<NA>,<NA>,武蔵五日市,<NA>,<NA>,<NA>,東秋留,東秋留,東秋留
walk_distance2,NaN,1280.0,1440.0,1520.0,2400.0,1200.0,NaN,400.0,NaN,NaN,NaN,NaN,NaN,2480.0,NaN,NaN,NaN,1680.0,2000.0,2080.0
house_area,114.59,74.52,144.9,112.63,117.99,138.92,92.0,628.14,138.0,91.04,92.74,88.32,81.79,112.61,78.36,66.92,94.77,85.05,71.07,119.38
madori_number_all,4,3,6,4,4,6,3,7,4,3,2,4,4,3,4,4,4,3,3,6
madori_kind_all,50,50,50,50,55,30,50,50,50,50,20,30,50,50,30,30,50,50,30,30
genkyo_code,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0
usable_status,1,2,2,1,2,2,1,2,2,1,2,2,1,2,2,1,1,1,2,2
school_ele_name,大山田南小学校,<NA>,八幡小学校,旭北小学校,<NA>,米原小学校,春照小学校,米原市立坂田小学校,糸島市立怡土小学校,<NA>,霞ヶ浦南小学校,かすみがうら市立霞ヶ浦南小学校,<NA>,増戸小学校,南秋留小学校,南秋留小学校,あきる野市立草花小学校,あきる野市立草花小学校,草花小学校,あきる野市立草花小学校
school_ele_distance,850.0,NaN,650.0,2700.0,NaN,528.0,600.0,680.0,4500.0,NaN,3000.0,3218.0,NaN,600.0,1697.0,1553.0,1440.0,750.0,501.0,590.0
convenience_distance,NaN,NaN,NaN,NaN,230.0,858.0,NaN,150.0,NaN,3019.0,3200.0,NaN,NaN,400.0,1957.0,1404.0,1290.0,600.0,178.0,440.0
super_distance,NaN,NaN,NaN,NaN,480.0,900.0,NaN,420.0,NaN,NaN,3100.0,1531.0,NaN,1000.0,1912.0,1913.0,940.0,890.0,179.0,460.0
koji_price,62900.0,63000.0,101000.0,26000.0,109000.0,55300.0,11300.0,36600.0,<NA>,<NA>,7420.0,10600.0,13700.0,92500.0,36800.0,36800.0,109000.0,109000.0,93000.0,109000.0
koji_usage_code,1低専,1住居,近商,工専,1中専,<NA>,<NA>,準工,<NA>,<NA>,<NA>,<NA>,準工,1中専,<NA>,<NA>,<NA>,<NA>,1低専,<NA>
koji_distance_km,0.67284,0.156262,0.421793,0.865146,0.492406,0.086198,0.697137,0.645782,<NA>,<NA>,2.978094,1.312125,0.248692,0.375893,0.549243,0.508928,0.198361,0.596277,0.447773,0.56488
land_price,52700.0,103000.0,103000.0,69500.0,83000.0,68700.0,24100.0,58800.0,<NA>,<NA>,<NA>,6730.0,10200.0,92800.0,56200.0,56200.0,98000.0,98000.0,98000.0,98000.0
land_usage_code,1中専,1低専,1低専,1中専,1低専,1住居,1中専,1住居,<NA>,<NA>,<NA>,<NA>,1住居,1低専,2低専,2低専,1低専,1低専,1低専,1低専
land_distance_km,1.866285,1.002254,0.506154,0.542601,0.983211,0.480185,1.81145,0.146996,<NA>,<NA>,<NA>,2.073528,1.025481,0.609261,0.077251,0.137179,0.474731,0.388026,0.920235,0.687549
mesh_population_2025,3054.8402,869.4974,8726.9877,1630.4829,6907.0917,1948.1817,550.5237,1500.3409,236.1082,236.1082,278.5985,125.0125,3223.6663,4876.3515,1835.0848,1835.0848,4851.8458,5596.437,5596.437,5596.437
mesh_population_2035,2985.6286,834.9253,8275.6335,1419.9893,6883.7572,1879.0298,541.3858,1436.7489,206.0149,206.0149,245.6482,108.8788,2999.1458,4665.3928,1610.861,1610.861,4574.6915,5334.062,5334.062,5334.062
mesh_population_2045,2878.4524,794.8922,7660.0349,1283.4602,6729.2419,1755.7996,529.0489,1349.274,157.7151,157.7151,204.6657,88.3076,2718.0677,4441.8735,1400.3538,1400.3538,4309.3052,5061.6158,5061.6158,5061.6158
mesh_population_2055,2723.2881,760.967,7043.686,1183.8843,6467.9783,1582.3166,498.5164,1241.816,116.6705,116.6705,164.6686,68.1547,2432.9284,4238.7906,1225.8902,1225.8902,4038.0191,4768.6937,4768.6937,4768.6937
unit_tag_230401,1,0,0,1,1,0,1,1,1,1,0,0,1,1,0,0,1,1,1,0
unit_tag_223101,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,1
unit_tag_230203,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,1,0,0
unit_tag_290101,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1
unit_tag_230501,1,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
unit_tag_250301,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
unit_tag_230601,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
unit_tag_230103,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
unit_tag_290601,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
unit_tag_240201,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,1,0,0,0
unit_tag_220901,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
unit_tag_290501,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
unit_tag_223201,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
unit_tag_230202,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
unit_tag_340401,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_340301,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0
building_tag_210401,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_294201,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_334101,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_334201,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_334001,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
unit_id,116820,264632,318511,271012,42260,40664,319591,294098,78625,120173,19112,173683,280889,301739,134836,214617,62120,35487,135874,35260
money_room_past_6m,17.013367,16.108045,16.588099,17.281246,16.588099,16.705882,16.416718,18.187487,17.243025,16.801192,16.341239,15.424948,16.211586,17.399029,16.364956,15.955577,17.103912,16.636889,16.510138,17.065885
money_room_past_12m,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
money_room_past_18m,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
money_room_past_24m,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
money_room_past_over_30m,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

--- train dataset: カラムサマリー ---
78 columns
columns 1-78 / 78

,column_name,row_count,not_null_count,not_null_rate_pct,min,max,random_sample_1,random_sample_2,random_sample_3,random_sample_4,random_sample_5
0,data_id,59205,59205,100.00,36516,363922,310098,163790,41798,112510,54714
1,money_room,59205,59205,100.00,4900000,188000000,29500000,24800000,32800000,16800000,29800000
2,building_structure,59205,55626,93.95,1.0,12.0,1.0,1.0,1.0,3.0,1.0
3,total_floor_area,59205,31574,53.33,1.0,9108.0,109.720001,109.589996,167.160004,97.510002,101.599998
4,floor_count,59205,58785,99.29,0.0,898.0,1.0,1.0,1.0,2.0,1.0
5,year_built,59205,55842,94.32,150001.0,203407.0,199112.0,197403.0,200503.0,198305.0,199705.0
6,years_old,59205,55839,94.31,-13.494867,154.494182,-4.665298,47.419576,26.16564,90.001369,21.831622
7,building_land_area,59205,55618,93.94,10.51,31145.4395,46.509998,167.710007,122.519997,166.470001,100.07
8,land_area_all,59205,14288,24.13,17.700001,18169.6504,453.179993,119.889999,181.740005,264.309998,434.109985
9,building_land_chimoku,59205,54095,91.37,0.0,10.0,1.0,1.0,1.0,1.0,1.0
10,land_youto,59205,53792,90.86,1.0,99.0,1.0,5.0,11.0,99.0,6.0
11,land_toshi,59205,53697,90.70,0.0,4.0,2.0,1.0,3.0,1.0,1.0
12,land_chisei,59205,30297,51.17,0.0,9.0,1.0,4.0,1.0,1.0,1.0
13,land_kenpei,59205,54659,92.32,0.0,600.0,60.0,60.0,60.0,50.0,60.0
14,land_youseki,59205,54648,92.30,0.0,8080.0,200.0,200.0,60.0,160.0,100.0
15,land_road_cond,59205,47109,79.57,0.0,10.0,5.0,1.0,1.0,1.0,1.0
16,balcony_area,59205,5222,8.82,0.0,324.0,0.0,9.0,0.0,0.0,0.0
17,dwelling_unit_window_angle,59205,30549,51.60,0.0,8.0,5.0,6.0,2.0,6.0,2.0
18,room_count,59205,55493,93.73,1.0,19.0,3.0,5.0,2.0,6.0,5.0
19,unit_area,59205,55495,93.73,9.61,19387.0,108.980003,89.230003,96.0,118.0,110.5
20,floor_plan_code,59205,55493,93.73,110.0,1950.0,730.0,550.0,420.0,550.0,530.0
21,flg_investment,59205,28115,47.49,0.0,1.0,0.0,0.0,0.0,0.0,0.0
22,post1,59205,57938,97.86,0.0,992.0,666.0,413.0,299.0,71.0,323.0
23,post_all,59205,57938,97.86,000-0000,992-1442,500-8213,960-0101,426-0087,599-8103,332-0001
24,addr1_1,59205,59205,100.00,1,47,27,26,40,34,11
25,addr_all,59205,59205,100.00,01-101,47-326,14-201,27-223,34-108,33-103,14-321
26,rosen_name1,59205,56561,95.53,IRいしかわ鉄道,鹿島臨海鉄道大洗鹿島線,JR日豊本線,JR奥羽本線,近江鉄道八日市線,JR片町線(学研都市線),JR青梅線
27,eki_name1,59205,56459,95.36,JR三山木,＊＊＊＊,備前西市,聖蹟桜ヶ丘,焼津,通谷,大垣
28,walk_distance1,59205,56561,95.53,1.0,88000.0,1440.0,2320.0,1760.0,1840.0,1280.0
29,rosen_name2,59205,26776,45.23,IRいしかわ鉄道,鹿島臨海鉄道大洗鹿島線,名鉄名古屋本線,阪急京都本線,阪急京都本線,山陽電鉄本線,筑豊電気鉄道
30,eki_name2,59205,26770,45.22,JA広島病院前,＊＊＊＊,前原,大船,石山,宮原,番田
31,walk_distance2,59205,26781,45.23,19.0,64960.0,1280.0,1040.0,1440.0,2400.0,3440.0
32,house_area,59205,59205,100.00,1.0,19387.0,92.0,307.0,91.22,90.25,99.78
33,madori_number_all,59205,59205,100.00,1,19,5,4,3,6,4
34,madori_kind_all,59205,59205,100.00,10,55,50,20,50,50,50
35,genkyo_code,59205,57622,97.33,1.0,4.0,2.0,2.0,2.0,2.0,2.0
36,usable_status,59205,59205,100.00,1,3,2,2,1,2,2
37,school_ele_name,59205,44528,75.21,三浦市立岬陽小学校,龍華小学校,大垣市立小野小学校,大津市立膳所小学校,小山小学校,二之江第三小学校,浜松市立西小学校
38,school_ele_distance,59205,44341,74.89,0.0,9999.0,2400.0,1810.0,446.0,140.0,2200.0
39,convenience_distance,59205,28148,47.54,0.0,9800.0,290.0,1347.0,480.0,1150.0,1525.0
40,super_distance,59205,30782,51.99,0.0,9974.0,1900.0,752.0,708.0,690.0,590.0
41,koji_price,59205,57529,97.17,600.0,5400000.0,109000.0,38300.0,48200.0,61800.0,32000.0
42,koji_usage_code,59205,53609,90.55,1中専,近商,2中専,商業,2住居,1低専,1低専
43,koji_distance_km,59205,57529,97.17,0.000027,2.999556,0.140006,0.710983,0.42633,0.24699,0.376773
44,land_price,59205,58462,98.75,1590.0,6850000.0,122000.0,851000.0,47400.0,105000.0,81200.0
45,land_usage_code,59205,52223,88.21,1中専,近商,1住居,1住居,1中専,準住居,1中専
46,land_distance_km,59205,58462,98.75,0.000789,2.998293,0.29935,1.307825,0.461804,0.355138,0.686855
47,mesh_population_2025,59205,59196,99.98,0.0,33642.3438,1928.5887,4243.1395,8033.9844,4066.6765,335.3891
48,mesh_population_2035,59205,59196,99.98,0.0,35614.0103,1240.5449,4450.3848,7378.84,6756.132,4878.8376
49,mesh_population_2045,59205,59196,99.98,0.0,37207.3593,4194.7478,4301.6786,1019.1527,3585.8812,4891.4166
50,mesh_population_2055,59205,59196,99.98,0.0,37370.2454,9553.0321,6090.2273,4984.8256,7124.8581,8065.2918
51,unit_tag_230401,59205,59205,100.00,0,1,0,0,1,1,0
52,unit_tag_223101,59205,59205,100.00,0,1,1,0,0,0,1
53,unit_tag_230203,59205,59205,100.00,0,1,0,1,0,0,0
54,unit_tag_290101,59205,59205,100.00,0,1,0,1,0,1,1
55,unit_tag_230501,59205,59205,100.00,0,1,0,0,0,1,0
56,unit_tag_250301,59205,59205,100.00,0,1,0,1,0,0,0
57,unit_tag_230601,59205,59205,100.00,0,1,0,0,0,0,0
58,unit_tag_230103,59205,59205,100.00,0,1,0,0,0,1,1
59,unit_tag_290601,59205,59205,100.00,0,1,0,0,0,0,0
60,unit_tag_240201,59205,59205,100.00,0,1,0,0,1,0,0
61,unit_tag_220901,59205,59205,100.00,0,1,0,0,0,0,0
62,unit_tag_290501,59205,59205,100.00,0,1,0,0,0,0,0
63,unit_tag_223201,59205,59205,100.00,0,1,0,0,0,0,0
64,unit_tag_230202,59205,59205,100.00,0,1,0,0,0,0,0
65,unit_tag_340401,59205,59205,100.00,0,1,0,0,0,0,0
66,building_tag_340301,59205,59205,100.00,0,1,0,0,0,0,0
67,building_tag_210401,59205,59205,100.00,0,1,0,1,0,0,1
68,building_tag_294201,59205,59205,100.00,0,1,0,0,0,0,0
69,building_tag_334101,59205,59205,100.00,0,1,0,0,0,0,1
70,building_tag_334201,59205,59205,100.00,0,1,0,0,0,0,0
71,building_tag_334001,59205,59205,100.00,0,1,0,0,0,0,0
72,unit_id,59205,59205,100.00,6,323455,84950,226450,115997,73783,133892
73,money_room_past_6m,59205,56173,94.88,15.404746,19.051953,15.943742,17.611,16.951005,17.210019,16.118096
74,money_room_past_12m,59205,24262,40.98,15.404746,19.035866,16.195057,15.424948,17.140547,17.473931,16.985196
75,money_room_past_18m,59205,11584,19.57,15.404746,19.035866,16.733281,16.523561,16.58183,16.28361,15.869634
76,money_room_past_24m,59205,5788,9.78,15.404746,19.035866,16.108045,15.758559,18.197537,15.464169,16.440179
77,money_room_past_over_30m,59205,2957,4.99,15.404746,19.035866,16.733281,15.869634,16.097893,17.210019,17.144137

=== test ===
path: data/processed/0001_kodate/0007_same_unit_id/test.parquet
shape: 14431 rows x 77 cols
dtypes (first 20 columns):
data_id                        string
building_structure            float64
total_floor_area              float64
floor_count                   float64
year_built                    float64
years_old                     float64
building_land_area            float64
land_area_all                 float64
building_land_chimoku         float64
land_youto                    float64
land_toshi                    float64
land_chisei                   float64
land_kenpei                   float64
land_youseki                  float64
land_road_cond                float64
balcony_area                  float64
dwelling_unit_window_angle    float64
room_count                    float64
unit_area                     float64
floor_plan_code               float64
dtype: object
... (truncated)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
data_id,5,8,11,12,20,22,24,27,38,43,48,54,56,59,66,67,68,69,72,75
building_structure,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
total_floor_area,146.559998,NaN,100.589996,138.919998,116.75,NaN,288.23999,134.899994,99.360001,NaN,121.230003,100.440002,NaN,NaN,80.32,158.910004,158.910004,NaN,NaN,66.5
floor_count,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0
year_built,200310.0,NaN,198904.0,197604.0,199107.0,199908.0,198810.0,199308.0,198903.0,200511.0,197503.0,202311.0,200709.0,196506.0,199602.0,199510.0,199510.0,199510.0,200708.0,198209.0
years_old,19.252567,NaN,33.752225,46.75154,31.504449,23.419576,34.250513,29.418207,33.837098,17.166324,47.838467,-0.832307,15.334702,57.585216,26.915811,27.252567,27.252567,27.252567,15.419576,40.334018
building_land_area,344.440002,NaN,110.290001,253.119995,206.529999,174.470001,556.099976,169.0,902.929993,1520.0,227.130005,145.0,280.540009,117.610001,88.410004,368.850006,368.850006,368.850006,125.519997,113.879997
land_area_all,344.440002,NaN,NaN,NaN,NaN,NaN,NaN,169.0,902.929993,NaN,227.130005,145.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
building_land_chimoku,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
land_youto,1.0,NaN,11.0,99.0,99.0,12.0,99.0,12.0,99.0,99.0,1.0,1.0,1.0,1.0,99.0,11.0,11.0,1.0,1.0,1.0
land_toshi,1.0,NaN,1.0,2.0,3.0,1.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0
land_chisei,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,2.0
land_kenpei,50.0,NaN,60.0,70.0,70.0,60.0,70.0,60.0,60.0,50.0,50.0,40.0,40.0,50.0,40.0,60.0,60.0,40.0,40.0,40.0
land_youseki,80.0,NaN,150.0,200.0,200.0,200.0,200.0,200.0,200.0,60.0,60.0,80.0,80.0,80.0,80.0,200.0,200.0,80.0,80.0,80.0
land_road_cond,2.0,NaN,NaN,1.0,1.0,2.0,5.0,1.0,1.0,NaN,5.0,2.0,2.0,2.0,1.0,5.0,2.0,2.0,2.0,2.0
balcony_area,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dwelling_unit_window_angle,5.0,NaN,NaN,2.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
room_count,3.0,NaN,4.0,6.0,5.0,4.0,12.0,4.0,5.0,2.0,4.0,4.0,5.0,3.0,4.0,7.0,7.0,7.0,4.0,3.0
unit_area,146.559998,NaN,100.589996,138.919998,116.75,130.869995,288.23999,134.899994,99.360001,102.5,121.230003,100.440002,168.5,47.580002,80.379997,158.910004,158.910004,158.910004,100.839996,66.5
floor_plan_code,350.0,NaN,450.0,630.0,550.0,450.0,1230.0,450.0,530.0,250.0,450.0,450.0,550.0,320.0,450.0,730.0,730.0,730.0,450.0,330.0
flg_investment,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.0,0.0
post1,511.0,478.0,478.0,521.0,521.0,521.0,521.0,521.0,300.0,819.0,981.0,197.0,197.0,197.0,197.0,197.0,197.0,197.0,197.0,190.0
post_all,511-0863,478-0001,478-0012,521-0003,521-0233,521-0062,521-0072,521-0074,300-0121,819-1335,981-3303,197-0827,197-0825,197-0825,197-0802,197-0802,197-0802,197-0802,197-0802,190-0165
addr1_1,24,23,23,25,25,25,25,25,8,40,4,13,13,13,13,13,13,13,13,13
addr_all,24-205,23-224,23-224,25-214,25-214,25-214,25-214,25-214,08-230,40-230,04-216,13-228,13-228,13-228,13-228,13-228,13-228,13-228,13-228,13-228
rosen_name1,三岐鉄道北勢線,名鉄河和線,名鉄河和線,JR東海道・山陽本線,JR東海道本線,JR北陸本線,JR北陸本線,JR北陸本線,JR常磐線,バス,仙台市営南北線,JR五日市線,JR五日市線,JR五日市線,JR五日市線,JR青梅線,JR五日市線,JR青梅線,JR青梅線,JR五日市線
eki_name1,西別所,八幡新田,巽ケ丘,米原,近江長岡,坂田,坂田,坂田,神立,＊＊＊＊,泉中央,秋川,東秋留,秋川,東秋留,福生,秋川,福生,福生,武蔵五日市
walk_distance1,2000.0,1680.0,480.0,1200.0,4480.0,1360.0,2240.0,2000.0,5920.0,1760.0,11040.0,640.0,1440.0,720.0,2480.0,320.0,240.0,160.0,1680.0,400.0
rosen_name2,<NA>,名鉄河和線,名鉄河和線,近江鉄道近江本線,<NA>,JR北陸本線,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,JR五日市線,<NA>,JR五日市線,JR五日市線,JR青梅線,JR五日市線,<NA>,<NA>
eki_name2,<NA>,南加木屋,八幡新田,フジテック前,<NA>,田村,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,秋川,<NA>,秋川,東秋留,福生,東秋留,<NA>,<NA>
walk_distance2,NaN,1760.0,1200.0,2400.0,NaN,2240.0,NaN,NaN,NaN,NaN,NaN,NaN,1760.0,NaN,2640.0,2320.0,240.0,2400.0,NaN,NaN
house_area,146,162,100,138,116,130,288,134,99,102,121,119,117,47,80,158,158,158,100,66
madori_number_all,4,4,4,6,5,4,12,4,5,2,4,5,4,3,4,7,7,7,4,3
madori_kind_all,50,50,50,30,50,55,20,55,30,50,50,30,55,20,50,30,30,30,50,30
genkyo_code,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,3.0,1.0,1.0
usable_status,2,2,2,2,2,2,2,1,1,2,1,2,2,2,2,2,2,2,2,2
school_ele_name,桑名市立藤が丘小学校,知多市立新田小学校,知多市立新田小学校,米原小学校,大原小学校,米原市立坂田小学校,小学校,米原市立坂田小学校,かすみがうら市立霞ヶ浦南小学校,糸島市立引津小学校,富谷小学校,西秋留小学校,南秋留小学校,あきる野市立南秋留小学校,多西小学校,あきる野市立草花小学校,あきる野市立草花小学校,草花小学校,草花小学校,五日市小学校
school_ele_distance,1328.0,1508.0,628.0,528.0,865.0,450.0,1850.0,1000.0,5850.0,3432.0,1500.0,1038.0,847.0,660.0,221.0,520.0,550.0,500.0,1643.0,1469.0
convenience_distance,NaN,963.0,657.0,858.0,895.0,NaN,NaN,NaN,4785.0,NaN,NaN,341.0,607.0,460.0,537.0,370.0,400.0,400.0,1608.0,NaN
super_distance,NaN,1492.0,540.0,900.0,1550.0,NaN,NaN,NaN,3365.0,NaN,NaN,1017.0,667.0,720.0,380.0,550.0,630.0,600.0,1141.0,NaN
koji_price,67400.0,64000.0,72900.0,55000.0,23000.0,16000.0,36300.0,36300.0,5940.0,<NA>,43000.0,120000.0,122000.0,120000.0,90900.0,90900.0,90900.0,90900.0,107000.0,35000.0
koji_usage_code,1低専,1中専,1中専,<NA>,<NA>,<NA>,準工,準工,<NA>,<NA>,1低専,1低専,1低専,1低専,1低専,1低専,1低専,1低専,<NA>,<NA>
koji_distance_km,0.128275,0.644672,0.489273,0.08621,0.790008,0.639695,0.758365,0.403714,2.337815,<NA>,0.197294,0.478744,0.525245,0.121175,0.185427,0.290794,0.28152,0.309721,0.044515,0.621705
land_price,95500.0,72400.0,83200.0,69000.0,25400.0,58600.0,58600.0,58600.0,8300.0,13800.0,44000.0,126000.0,117000.0,121000.0,96700.0,96700.0,96700.0,96700.0,96700.0,98800.0
land_usage_code,1低専,1低専,近商,1住居,<NA>,1住居,1住居,1住居,<NA>,<NA>,準工,1低専,1低専,1低専,1低専,1低専,1低専,1低専,1低専,近商
land_distance_km,1.594444,0.137571,0.26367,0.480184,1.100814,0.299154,0.932298,0.123745,1.713551,1.456924,1.060218,0.405372,0.522847,0.121236,1.334399,1.142531,1.157117,1.108935,0.694119,1.33138
mesh_population_2025,4052.8434,150.2899,4580.3431,1948.1817,979.6045,1500.3409,565.9223,2264.1347,108.1572,68.4315,1534.8476,2975.8228,5824.9181,4180.8863,1458.827,5596.437,5596.437,5596.437,5017.2762,856.1913
mesh_population_2035,4076.9501,128.9409,4387.0352,1879.0298,868.7637,1436.7489,509.5448,2237.4473,82.9613,59.9403,1457.4378,2871.7554,5601.6519,4163.4708,1316.6396,5334.062,5334.062,5334.062,4648.7731,748.3252
mesh_population_2045,4037.7735,107.8596,4129.9772,1755.7996,813.3867,1349.274,454.9813,2159.1094,61.2655,53.6206,1341.5887,2748.042,5395.1924,4091.9301,1214.5217,5061.6158,5061.6158,5061.6158,4332.9045,640.0892
mesh_population_2055,3840.011,96.0618,3876.4705,1582.3166,736.0981,1241.816,407.9131,1955.6073,46.0685,50.6427,1253.4213,2630.7661,5150.5338,3961.2651,1113.3615,4768.6937,4768.6937,4768.6937,4020.7346,541.7103
unit_tag_230401,1,0,0,0,1,0,0,1,0,1,1,1,0,0,0,1,0,0,1,0
unit_tag_223101,1,0,0,0,1,1,0,0,1,1,1,1,0,1,0,1,0,0,1,0
unit_tag_230203,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0
unit_tag_290101,1,0,0,0,1,0,0,0,0,0,1,1,0,0,0,1,0,0,1,0
unit_tag_230501,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
unit_tag_250301,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
unit_tag_230601,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
unit_tag_230103,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
unit_tag_290601,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
unit_tag_240201,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
unit_tag_220901,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
unit_tag_290501,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
unit_tag_223201,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
unit_tag_230202,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
unit_tag_340401,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_340301,1,0,0,0,0,1,0,0,0,0,1,1,1,1,0,0,1,1,1,1
building_tag_210401,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
building_tag_294201,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_334101,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_334201,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
building_tag_334001,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
unit_id,55233,189717,311789,40664,28100,161355,91786,272500,115775,120576,210387,50259,48218,285732,5816,293517,80740,164420,53302,159851
money_room_past_6m,16.454568,17.065885,16.364956,16.705882,16.371186,<NA>,16.195057,16.759423,16.097893,17.727534,16.993148,17.55318,16.897421,16.510138,<NA>,17.785802,17.785802,17.785802,16.985196,16.012735
money_room_past_12m,16.454568,<NA>,<NA>,16.705882,<NA>,16.929026,16.195057,<NA>,<NA>,<NA>,17.033986,17.576711,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,16.985196,<NA>
money_room_past_18m,<NA>,<NA>,<NA>,16.705882,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,17.622173,<NA>,<NA>,16.28361,<NA>,<NA>,<NA>,<NA>,<NA>
money_room_past_24m,<NA>,<NA>,<NA>,16.705882,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,16.28361,<NA>,<NA>,<NA>,<NA>,<NA>
money_room_past_over_30m,<NA>,<NA>,<NA>,16.705882,<NA>,<NA>,16.195057,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,16.28361,<NA>,<NA>,<NA>,<NA>,<NA>

--- test dataset: カラムサマリー ---
77 columns
columns 1-77 / 77

,column_name,row_count,not_null_count,not_null_rate_pct,min,max,random_sample_1,random_sample_2,random_sample_3,random_sample_4,random_sample_5
0,data_id,14431,14431,100.00,100,99993,22655,14565,1651,26284,95695
1,building_structure,14431,13822,95.78,1.0,11.0,1.0,9.0,1.0,10.0,4.0
2,total_floor_area,14431,8129,56.33,12.86,603.140015,97.139999,91.5,107.650002,105.0,95.639999
3,floor_count,14431,14336,99.34,0.0,5.0,2.0,2.0,2.0,2.0,2.0
4,year_built,14431,13879,96.17,186801.0,203407.0,201607.0,200009.0,200212.0,201312.0,198707.0
5,years_old,14431,13879,96.17,-11.000684,155.493498,56.829569,9.913758,28.914442,44.670773,44.167009
6,building_land_area,14431,13814,95.72,18.9,18169.6504,43.470001,206.789993,82.459999,88.919998,253.960007
7,land_area_all,14431,3286,22.77,26.719999,18169.6504,187.0,75.139999,132.399994,135.570007,122.25
8,building_land_chimoku,14431,13522,93.70,1.0,10.0,1.0,1.0,1.0,1.0,1.0
9,land_youto,14431,13425,93.03,1.0,99.0,1.0,12.0,11.0,1.0,99.0
10,land_toshi,14431,13431,93.07,1.0,4.0,1.0,1.0,1.0,1.0,1.0
11,land_chisei,14431,7577,52.51,0.0,9.0,1.0,1.0,1.0,1.0,1.0
12,land_kenpei,14431,13574,94.06,0.0,7020.0,60.0,60.0,60.0,60.0,60.0
13,land_youseki,14431,13572,94.05,0.0,3000.0,80.0,160.0,200.0,200.0,200.0
14,land_road_cond,14431,12180,84.40,0.0,10.0,2.0,1.0,1.0,1.0,1.0
15,balcony_area,14431,1396,9.67,0.0,70.0,0.0,0.0,0.0,0.0,0.0
16,dwelling_unit_window_angle,14431,7937,55.00,0.0,8.0,5.0,6.0,5.0,3.0,4.0
17,room_count,14431,13828,95.82,1.0,50.0,4.0,5.0,3.0,4.0,4.0
18,unit_area,14431,13828,95.82,10.57,1218.38,89.970001,96.790001,86.400002,97.290001,94.360001
19,floor_plan_code,14431,13828,95.82,110.0,5030.0,930.0,350.0,350.0,620.0,530.0
20,flg_investment,14431,6843,47.42,0.0,1.0,0.0,0.0,0.0,0.0,0.0
21,post1,14431,14206,98.44,1.0,992.0,413.0,655.0,427.0,239.0,426.0
22,post_all,14431,14206,98.44,001-0903,992-1125,337-0015,510-0243,571-0021,010-1421,989-3201
23,addr1_1,14431,14431,100.00,1,47,14,30,28,40,13
24,addr_all,14431,14431,100.00,01-101,47-326,46-225,13-118,22-216,43-104,40-103
25,rosen_name1,14431,13684,94.82,IRいしかわ鉄道,鹿児島市電2系統,名鉄西尾線,JR高山本線,JR東海道・山陽本線,JR芸備線,神戸市西神・山手線
26,eki_name1,14431,13645,94.55,JR三山木,＊＊＊＊,信太山,国分,中庄,石巻,土佐一宮
27,walk_distance1,14431,13684,94.82,1.0,88000.0,2240.0,960.0,1680.0,1280.0,1440.0
28,rosen_name2,14431,7250,50.24,JR上越新幹線,鹿島臨海鉄道大洗鹿島線,Osaka Metro中央線,近鉄大阪線,都電荒川線,JR関西本線,南海線
29,eki_name2,14431,7248,50.23,JR三山木,＊＊＊＊,我孫子,久留米大学前,寝屋川公園,三輪,西尾
30,walk_distance2,14431,7252,50.25,1.0,18960.0,3200.0,1120.0,2960.0,1600.0,400.0
31,house_area,14431,14431,100.00,10,1218,93,88,105,76,88
32,madori_number_all,14431,14431,100.00,1,20,4,3,4,2,4
33,madori_kind_all,14431,14431,100.00,10,55,30,50,30,50,50
34,genkyo_code,14431,14125,97.88,1.0,4.0,2.0,1.0,3.0,2.0,2.0
35,usable_status,14431,14431,100.00,1,3,2,2,1,2,1
36,school_ele_name,14431,11558,80.09,行田西小学校,龍ヶ崎市八原小学校,東大阪市立孔舎衙小学校,小学校,小学校,大治小学校,岡崎市立大門小学校
37,school_ele_distance,14431,11579,80.24,0.0,8800.0,840.0,800.0,650.0,1164.0,130.0
38,convenience_distance,14431,7526,52.15,0.0,9014.0,950.0,1070.0,480.0,420.0,1820.0
39,super_distance,14431,7959,55.15,0.0,9974.0,2700.0,954.0,990.0,720.0,561.0
40,koji_price,14431,14078,97.55,810.0,2370000.0,19900.0,64000.0,58800.0,53800.0,19800.0
41,koji_usage_code,14431,13103,90.80,1中専,近商,1中専,1住居,1中専,2中専,1低専
42,koji_distance_km,14431,14078,97.55,0.00008,2.982603,0.502095,0.279624,0.120845,0.646877,2.670748
43,land_price,14431,14273,98.91,2570.0,3890000.0,118000.0,64200.0,95000.0,45500.0,82800.0
44,land_usage_code,14431,12870,89.18,1中専,近商,1住居,2中専,1住居,1低専,1低専
45,land_distance_km,14431,14273,98.91,0.003106,2.996233,0.297126,1.674778,0.214778,1.281341,0.690812
46,mesh_population_2025,14431,14430,99.99,0.0,33642.3438,284.1773,10094.0268,3367.9723,51.7514,705.1601
47,mesh_population_2035,14431,14430,99.99,0.0,35440.0796,5682.6061,2696.2483,12811.7632,11093.0542,18032.2022
48,mesh_population_2045,14431,14430,99.99,0.0,36516.9497,1778.2676,785.2607,6754.8414,7981.8587,4361.5914
49,mesh_population_2055,14431,14430,99.99,0.0,36636.7595,19009.1007,987.1759,8725.3728,7406.5932,3020.8738
50,unit_tag_230401,14431,14431,100.00,0,1,1,0,1,1,0
51,unit_tag_223101,14431,14431,100.00,0,1,0,1,0,1,1
52,unit_tag_230203,14431,14431,100.00,0,1,0,0,0,0,1
53,unit_tag_290101,14431,14431,100.00,0,1,1,1,0,1,0
54,unit_tag_230501,14431,14431,100.00,0,1,0,0,0,0,0
55,unit_tag_250301,14431,14431,100.00,0,1,1,1,1,0,0
56,unit_tag_230601,14431,14431,100.00,0,1,0,0,1,0,0
57,unit_tag_230103,14431,14431,100.00,0,1,0,0,0,0,0
58,unit_tag_290601,14431,14431,100.00,0,1,0,0,1,0,0
59,unit_tag_240201,14431,14431,100.00,0,1,0,0,0,0,0
60,unit_tag_220901,14431,14431,100.00,0,1,1,0,0,0,0
61,unit_tag_290501,14431,14431,100.00,0,1,0,0,0,1,0
62,unit_tag_223201,14431,14431,100.00,0,1,0,0,0,0,0
63,unit_tag_230202,14431,14431,100.00,0,1,0,1,0,0,1
64,unit_tag_340401,14431,14431,100.00,0,1,0,0,0,0,0
65,building_tag_340301,14431,14431,100.00,0,1,0,0,0,0,0
66,building_tag_210401,14431,14431,100.00,0,1,0,0,0,1,0
67,building_tag_294201,14431,14431,100.00,0,1,0,0,0,0,0
68,building_tag_334101,14431,14431,100.00,0,1,0,0,0,0,0
69,building_tag_334201,14431,14431,100.00,0,1,0,0,0,0,0
70,building_tag_334001,14431,14431,100.00,0,1,0,0,0,0,0
71,unit_id,14431,14431,100.00,24,323440,61055,107476,105465,208040,323134
72,money_room_past_6m,14431,8235,57.06,15.404746,19.04115,16.801192,16.510138,16.440179,17.179352,16.38046
73,money_room_past_12m,14431,8232,57.04,15.404746,19.04115,16.811243,17.103912,17.140547,17.147715,17.727534
74,money_room_past_18m,14431,4774,33.08,15.404746,19.008467,15.990262,17.776324,17.723526,16.213406,16.58183
75,money_room_past_24m,14431,3187,22.08,15.404746,19.008467,15.538277,16.4182,16.166886,16.454568,17.305939
76,money_room_past_over_30m,14431,3131,21.70,15.404746,19.008467,16.32511,15.9479,17.785802,16.300417,16.142788